extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/primed.jpg',
          title: 'Сайт медицинского холдинга Праймед',
          link: {
            text: 'http://www.stomcenter.ru',
            href: 'http://www.stomcenter.ru'
          },
          info: [
            {tag: 'p', content: 'Медицинский холдинг «PRIMED» - это комплекс современных клиник в Санкт-Петербурге, работающих в области эстетической медицины и стоматологии и объединяющий многопрофильную клинику Медицинский Центр Города и сеть клиник Стоматологический Центр Города.'}
          ]
        }
      +pageDevelopment(page)
