include ../create-element/create-element
include ../scripts/scripts
include ../grid/grid
include ../breadcrumbs/breadcrumbs
include ../note/note
include ../note-panel/note-panel
include ../figure-diagram/figure-diagram
include ../why-effective/why-effective
include ../how-it-works/how-it-works
include ../list-features/list-features
include ../list-comparison/list-comparison
include ../result-slider/result-slider
include ../results-carousel/results-carousel
include ../feedback-item/feedback-item
include ../table-prices/table-prices
include ../countdown/countdown
include ../banner-counter/banner-counter
include ../works-list/works-list
include ../page-development/page-development
include ../page-advertisment/page-advertisment
include ../results-table/results-table
include ../list-clients/list-clients
include ../form/form
include ../feedback-list/feedback-list

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        block content
      include ../footer/footer
      include ../book-module/book-module
      include ../book-module-mobile/book-module-mobile
  +scripts(['js.cookie.js'])
  +scripts(['script.js'])
