.home-feedback-gallery
  margin-x 0
  padding (basePadding*3) basePadding
  background-color #f0f0f0
  border-radius (basePadding)
  @media screen and (max-width point-s)
    margin-x (-(basePadding))
