.youtube-module
  .youtube-module__title Мой канал на Youtube по маркетингу для клиник
  ul.list-marked.youtube-module__list
    li Обучающие видео
    li Записи вебинаров
    li Интервью
  script( src="https://apis.google.com/js/platform.js")
  .g-ytsubscribe(data-channelid="UC8OPJfPmALH-GRmDIe1DPLQ" data-layout="full" data-count="default")
