-
  const results = [
    {
      title: '300 процедур в&nbsp;месяц',
      info: 'Клиника эстетической медицины',
      link: {
        href: 'http://www.medcentergoroda.ru/',
        text: 'medcentergoroda.ru'
      },
      img: {
        src: '',
        alt: ''
      }
    },
    {
      title: '100 новых пациентов в&nbsp;месяц',
      info: 'Стоматологическая клиника',
      link: {
        href: 'http://stomadeus.ru/',
        text: 'stomadeus.ru'
      },
      img: {
        src: '',
        alt: ''
      }
    },
    {
      title: '120 операций в&nbsp;год',
      info: 'Клиника по пересадке волос',
      link: {
        href: 'http://www.netvolos.ru/',
        text: 'netvolos.ru'
      },
      img: {
        src: '',
        alt: ''
      }
    },
    {
      title: '750 звонков в&nbsp;месяц',
      info: 'Сеть стоматологических клиник',
      link: {
        href: 'http://www.stomcenter.ru/',
        text: 'stomcenter.ru'
      },
      img: {
        src: '',
        alt: ''
      }
    },
    {
      title: '270 обращений в&nbsp;месяц',
      info: 'Центр замещения волос',
      link: {
        href: 'http://www.hairdesign.ru/',
        text: 'hairdesign.ru/'
      },
      img: {
        src: '',
        alt: ''
      }
    },
  ]

.results
  ul.results__list
    each item in results
      a(href= item.link.href).results__item
        //- .results__img
        //-   img(src= item.img.src alt= item.img.alt)
        //- div(style='width: 4rem; height: 4rem; background-color: #cccccc; margin: 0 auto 0.75rem')
        .results__title !{item.title}
        .results__info !{item.info}
        .results__link !{item.link.text}
