.results
  margin-top (basePadding*2)
  margin-bottom (basePadding*4)
  &__list
    display flex
    flex-wrap wrap
    justify-content center
    margin -(basePadding)
  &__item
    width 18rem
    padding basePadding
    text-align center
    color color-text
    text-decoration none 
    &::before
      width 3rem
      height 2rem
      content ''
      display block
      margin-bottom basePadding
      background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}</style></defs><title>laptop_violet</title><path class='cls-1' d='M8.08-52.32a2,2,0,0,0-3,.84c-0.47.92,1,2.18,1.05,2.27l4.38,4.34L11.47-44l1.88,1.79A1,1,0,0,0,14-42v-5.13H13.4Z' transform='translate(16 67)'/><path class='cls-1' d='M4.87-29.76v-1.38H14V-38H-6.87V-62.86H14V-67H-6.87a4,4,0,0,0-3.91,4.14v27.59H-16v4.14A4,4,0,0,0-12.09-27H14v-2.76H4.87Z' transform='translate(16 67)'/><path class='cls-2' d='M27-54.2c0.91-1,1.5-2.78.27-3.53a1.83,1.83,0,0,0-2.2.22L14.46-47.14H14V-42a1,1,0,0,0,.61-0.19Z' transform='translate(16 67)'/><path class='cls-2' d='M38.78-62.86A4,4,0,0,0,34.87-67H14v4.14H34.87V-38H14v6.9h7.83v1.38H14V-27H40.09A4,4,0,0,0,44-31.14v-4.14H38.78V-62.86Z' transform='translate(16 67)'/></svg>")
      background-size cover
      background-repeat no-repeat
      background-position center
      filter saturate(0) opacity(0.5)
      transition filter timing-s
      margin-x auto
    &:hover
      color color-text
      &::before
        filter none
        transition none
    &--no-icon
      &::before
        content none
  &__title
    font-size font-l
    font-weight bold
    margin-bottom (basePadding/3*2)
    color color-text
  &__info
    font-size font-xs
    margin-bottom (basePadding/3)
  &__link
    font-size font-xs
    text-decoration underline
    @extend a
