mixin banner(settings = {header:'', text: '', button: ''})
  .banner
    .banner__header !{settings.header}
    .banner__body
      .banner__text
        +createElement(settings.text)
      .banner__button: a(href='' data-fancybox).btn !{settings.button}
