.case-section
  padding 2.5rem 5rem
  text-align center
  margin-x -(basePadding*2)
  // padding-x 5rem
  @media screen and (max-width point-s)
    padding-x (basePadding*2)
  em
    font-style normal
    color #8c3052
  & > :last-child
    margin-bottom 0
  &__title
    margin-bottom 2rem
    text-align center
  &--task
    border-bottom 3px solid #8c3052
  &--solutions
    border-bottom 3px solid #e8e8e8
  &--settings
    border-bottom 3px solid #e8e8e8
    text-align left
  h3
    font-size font-l
    line-height line-l
    margin-bottom (font-m/4*3)
    color #734d76
