extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/shankara.jpg',
          title: 'Аюрведический медицинский центр «Shankara»',
          link: {
            text: 'http://www.aurmed.ru',
            href: 'http://www.aurmed.ru'
          },
          info: [
            {tag: 'p', content: 'Центр «SHANKARA» - это медицинский центр, который специализируется на аюрведической медицине, остеопатии, лечебном массаже, йоге.'}
          ]
        }
      +pageDevelopment(page)
