.blog-interesting
  margin-top basePadding
  &__image
    display block
  &__views
    margin-top .25rem
    padding-left 1.25rem
    line-height 1.5rem
    background-image var(--blog-views)
    background-repeat no-repeat
    background-position 0 .25rem
    background-size 1rem
