extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Центр замещения волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/hairdesign.jpg',
          title: 'Центр замещения волос',
          link: {
            text: 'http://www.hairdesign.ru/',
            href: 'http://www.hairdesign.ru/'
          },
          info: [
            {tag: 'p', content: 'Центр замещения волос – это специализированный салон, где работают специалисты высокого квалификационного уровня, использующие разнообразные методы коррекции облысения.'}
          ]
        }
      +pageDevelopment(page)
