extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Многопрофильная клиника «Медицинский Центр Города»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/medcenter.png',
          title: 'Многопрофильная клиника «Медицинский Центр Города»',
          link: {
            text: 'http://www.medcentergoroda.ru/',
            href: 'http://www.medcentergoroda.ru/'
          }
        }
      +pageAdvertisment(page)
        p Клиника Медицинский Центр Города - комплекс современных клиник, работающих в области эстетической косметологии и стоматологии.
        p
          strong Задача:
          |  привлечение клиентов, увеличение прибыли клиники.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Регулярно ведутся работы по добавлению тематического контента;
          li На постоянной основе обновляются группы в социальных сетях;
          li Проводятся эффективные рекламные кампании в системах Яндекс.Директ, Google.Adwords;
          li Проводятся мероприятия по управлению репутацией в социальных медиа.
        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 6 раз
            |  с 2348 до 14425 посетителей в месяц.
          li Увеличение количества звонков клиентов из интернета в 
            strong 4 раза
            |  с 150 до более 600 в месяц.
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['центр пластической хирургии',{content:'3',type:'marked'}],
            ['мезотерапия',{content:'3',type:'marked'}],
            ['ринопластика',{content:'3',type:'marked'}],
            ['отопластика',{content:'2',type:'marked'}],
            ['фотоэпиляция',{content:'1',type:'marked'}],
            ['увеличение груди',{content:'2',type:'marked'}],
            ['мануальная терапия',{content:'3',type:'marked'}],
          ]
        +resultsTable(table1)
