extends /blocks/layout/layout

include /blocks/blog/blog

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      +grid({paddingy: true})
        +grid__item({m:8,xs:12})
          -
            const blog = [
              {
                name: 'Юридические аспекты работы клиники в условиях пандемии',
                image: '/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/cover.jpg',
                date: '26.04.2020',
                href: '/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii.html',
              },
              {
                name: 'Обзор — рейтинг сервисов, программ и приложений для системы телемедицины',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '25.04.2020',
                href: '/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny.html',
              },
              {
                name: 'Юридические аспекты работы клиники в условиях пандемии',
                image: '/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/cover.jpg',
                date: '26.04.2020',
                href: '/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii.html',
              },
              {
                name: 'Обзор — рейтинг сервисов, программ и приложений для системы телемедицины',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '25.04.2020',
                href: '/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny.html',
              },
              {
                name: 'Юридические аспекты работы клиники в условиях пандемии',
                image: '/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/cover.jpg',
                date: '26.04.2020',
                href: '/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii.html',
              },
              {
                name: 'Обзор — рейтинг сервисов, программ и приложений для системы телемедицины',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '25.04.2020',
                href: '/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny.html',
              },
              {
                name: 'Юридические аспекты работы клиники в условиях пандемии',
                image: '/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/cover.jpg',
                date: '26.04.2020',
                href: '/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii.html',
              },
              {
                name: 'Обзор — рейтинг сервисов, программ и приложений для системы телемедицины',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '25.04.2020',
                href: '/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny.html',
              },
            ]
          +blog(blog)
        +grid__item({m:4,xs:12})
          +grid({paddingy: true})
            +grid__item({xs:12})
              script(type="text/javascript" src="//vk.com/js/api/openapi.js?151")
              #vk_groups
              script(type="text/javascript")
                | VK.Widgets.Group("vk_groups", {mode: 3, width: 304, height: 500}, 86134177);
            +grid__item({xs:12})
              .fb-page(data-href="https://www.facebook.com/medreclama/"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
                blockquote( cite="https://www.facebook.com/medreclama/" class="fb-xfbml-parse-ignore")
                  a( href="https://www.facebook.com/medreclama/") Маркетинг в медицине
            +grid__item({xs:12})
              include /blocks/youtube-module/youtube-module
