extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header: h1 Нужна ли лицензия на телемедицину: правовое регулирование
      include /blocks/blog-header/blog-header
      .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Условия и&nbsp;требования к&nbsp;лицензированию важно рассмотреть в&nbsp;рамках законодательного регулирования телемедицины. 
          p ФЗ &#8470;&nbsp;323, в&nbsp;который были внесены изменения от&nbsp;1&nbsp;января 2018&nbsp;года, ссылается на&nbsp;2&nbsp;ключевых документа, с&nbsp;содержанием которых важно ознакомиться. 
          p В&nbsp;соответствии с&nbsp;ними, правовое регулирование телемедицины осуществляется с&nbsp;помощью порядка оказания медицинской помощи с&nbsp;применением телемедицинских технологий &#8470;&nbsp;965н, а&nbsp;также приведены стандарты, которым этот вид услуги должен соответствовать. 
          p Сложившаяся ситуация со&nbsp;стандартами непростая. Услуги телемедицины не&nbsp;должны отличаться от&nbsp;обычной медицинской помощи, то&nbsp;есть соответствовать обычным стандартам. Практика показывает, что все иначе: отсутствует понимание и&nbsp;наработки. Ожидается, что, в&nbsp;скором времени, будут внесены изменения в&nbsp;стандарты требований к&nbsp;телемедицине. А&nbsp;на&nbsp;данный момент действует отдельный порядок оказания услуг с&nbsp;применением телемедицинских технологий. 
          p В&nbsp;Законе также разъясняется порядок получения информационного согласия в&nbsp;электронном виде, описаны инструменты для оказания телемедицинской помощи. Но&nbsp;запустить процесс можно только при идентификации всех участников процесса: клинику заносят в&nbsp;специальную базу, врач&nbsp;&mdash; получает усиленную электронную подпись, тоже после занесения в&nbsp;базы Министерства здравоохранения РФ. Платформу для телемедицины выбирают только&nbsp;ту, что соответствует российскому законодательству: нужен сервис с&nbsp;лицензионным договором на&nbsp;телемедицину.
          -
            const banner1 = {
              header: 'Есть реклама, но мало пациентов?<br>​Хотите увеличить эффективность рекламы и сайта?',
              text: [
                {tag: 'p', content: 'Выполним комплексный аудит интернет-маркетинга клиники или аудит продающих качество сайта.'},
                {tag: 'p', content: 'Выявим слабые точки, дадим конкретные рекомендации.'},
              ],
              button: 'Отправить заявку',
            } 
          +banner(banner1)
          h2 К&nbsp;вопросу лицензирования
          p В&nbsp;нормативных документах по&nbsp;телемедицине сказано, что дистанционно консультировать врач может только из&nbsp;места, получившего лицензию на&nbsp;оказание медицинской помощи. 
          p Медицинская помощь также законодательно регулируется: на&nbsp;медицинское оборудование должна быть разрешительная документация. Если&nbsp;же ее&nbsp;нет, необходимо обратиться в&nbsp;Росздравнадзор. Аналогичные требования к&nbsp;программному обеспечению: оно подлежит лицензированию согласно законодательных актов. 
          h3 Другие лицензионные требования
          p В&nbsp;соответствии с&nbsp;Приказом Минздрава от&nbsp;30&nbsp;ноября 2017 &#8470;&nbsp;965н, врачу должно быть выделено помещение под телемедицинские услуги, оборудованное под консультации, со&nbsp;средствами связи, позволяющими оказывать медицинскую помощь в&nbsp;текстовом, аудио- и&nbsp;видеоформате. 
          p Выполняя требования ФЗ &#8470;&nbsp;323, вход в&nbsp;систему и&nbsp;дистанционное консультирование проводят после идентификации и&nbsp;аутентификации в&nbsp;единой системе. Представитель клиники и&nbsp;поставщик технологических возможностей для телемедицины обязуются в&nbsp;доступной форме предоставить пациентам информацию о&nbsp;порядке идентификации и&nbsp;аутентификации через вышеуказанную систему. 
          h3 Необходимость регистрации в&nbsp;ЕГИСЗ
          p В&nbsp;соответствии с&nbsp;Порядком оказания медицинской помощи с&nbsp;применением телемедицинских технологий, клиники необходимо внести в&nbsp;Федеральный регистр. Соответственно регистрация в&nbsp;ЕГИСЗ обязательна для всех медучрежнений, независимо от&nbsp;формы собственности. Единая государственная информационная система предполагает внесение в&nbsp;реестр, как медицинские организации, так и&nbsp;медицинских работников. 
          p В&nbsp;результате факт внесения в&nbsp;Федеральный регистр проверяется Росздравнадзором и&nbsp;органами исполнительной власти. Несоблюдение этих норм приравнивается к&nbsp;нарушению лицензионных требований, за&nbsp;что полагается административная ответственность.
          h3 Важные нюансы
          ul.list-marked
            li Непосредственно лицензирование телемедицины в&nbsp;законодательстве не&nbsp;прописано. Дело в&nbsp;том, что оказание медицинской помощи с&nbsp;применением телемедицинских технологий&nbsp;&mdash; не&nbsp;отдельный и&nbsp;не&nbsp;самостоятельный вид медицинской деятельности. В&nbsp;нормативно-правовых актах сказано, что услуги телемедицины оказываются по&nbsp;стандартам и&nbsp;в&nbsp;соответствии с&nbsp;порядком медицинской помощи, а&nbsp;она уже оказывается в&nbsp;соответствии с&nbsp;лицензионными требованиями. 
            li Согласно законодательству, телемедицинскую помощь оказывает не&nbsp;доктор, а&nbsp;медучреждение с&nbsp;лицензией на&nbsp;определенный перечень медицинских услуг. С&nbsp;другой стороны, в&nbsp;нормативно-правовых актах нет разъяснения о&nbsp;том, на&nbsp;что распространяется действие лицензии клиники: достаточно&nbsp;ли уже существующей на&nbsp;оказание тех&nbsp;же услуг, но&nbsp;дистанционно или&nbsp;же предполагается некое приложение к&nbsp;лицензии. 
            li В&nbsp;России лицензии для врача, как для физического лица, не&nbsp;предусмотрено. Доктор привязан к&nbsp;медучреждению, медуслуги которого лицензируются. Поэтому, если доктор хочет оказывать телемедицинские консультации самостоятельно, то&nbsp;только после регистрации юридического лица и&nbsp;получения на&nbsp;медучреждение лицензии. 
            li В&nbsp;Порядке оказания медицинской помощи с&nbsp;применением телемедицинских технологий сказано о&nbsp;необходимости получения лицензии по&nbsp;профилям. Например, медучреждение специализируется на&nbsp;урологии, получает на&nbsp;нее лицензию, после чего телемедицинские консультации может оказывать в&nbsp;рамках этой лицензии и&nbsp;в&nbsp;пределах указанного профиля. 
            li В&nbsp;нормативных документах существуют места с&nbsp;разной трактовкой: в&nbsp;целом речь идет о&nbsp;том, что медпомощь с&nbsp;применением телемедицинских технологий разрешено оказывать только в&nbsp;медучреждении с&nbsp;лицензией. Но&nbsp;в&nbsp;документации есть и&nbsp;указание ориентироваться на&nbsp;местонахождение пациента, а&nbsp;помощь, в&nbsp;таком случае, может оказываться и&nbsp;вне медучреждения. Поэтому есть потребность в&nbsp;норме лицензирования телемедицинских услуг, в&nbsp;которой&nbsp;бы было прописано, что именно необходимо для их&nbsp;оказания в&nbsp;таком случае: получение отдельной лицензии, приложение к&nbsp;действующей, разрешающее оказывать телемедицинские услуги вне учреждения, или что-то другое. 

          p Таким образом, чтобы избежать административной ответственности, прежде чем начать оказывать услуги по&nbsp;телемедицине, руководству клиники следует обратиться к&nbsp;юристам за&nbsp;разъяснениями по&nbsp;поводу условий и&nbsp;возможностей работы в&nbsp;рамках правового поля.
          -
            const banner2 = {
              header: 'У вас есть проект? Давайте обсудим!<br>Комплексный медицинский маркетинг',
              text: {tag: 'div', className: 'grid', content:[
                
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'SEO'},
                    {tag: 'li', content: 'Контекстная реклама'},
                    {tag: 'li', content: 'SMM'},
                  ],
                }},
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'Аудиты'},
                    {tag: 'li', content: 'Личный консультации'},
                  ],
                }},
              ]},
              button: 'Отправить заявку',
            }
          +banner(banner2)
        +grid__item({m:3,xs:12})
          +blogAuthor({name: 'Виталий Заря', photo: 'https://dummyimage.com/196x196.jpg'})
      h2 Вам также будет интересно
      -
        const bi = [
          {name: 'Запись вебинара "Маркетинг клиники в условиях пандемии"', image: 'https://medreclama.ru/images/blog/zapis-vebinara-marketing-kliniki-v-usloviyakh-pandemii/2020-05-22_16-34-34.png', views: 4},
          {name: 'Нужна ли лицензия на телемедицину: правовое регулирование', image: 'https://medreclama.ru/images/blog/nuzhna-li-litsenziya-na-telemeditsinu-pravovoe-regulirovanie/cover.jpg', views: 5},
          {name: 'Приказ 965н минздрава о порядке применения телемедицины', image: 'https://medreclama.ru/images/blog/prikaz-965n-minzdrava-o-poryadke-primeneniya-telemeditsiny/cover.jpg', views: 6},
          {name: 'Защита врачебной тайны в телемедицине, конфиденциальность и достоверность', image: 'https://medreclama.ru/images/blog/zashchita-vrachebnoj-tajny-v-telemeditsine-konfidentsialnost-i-dostovernost/cover.jpeg', views: 7},
        ]
      +blogInteresting(bi)
