extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины
      p: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      p В&nbsp;рейтинг платформ для телемедицины &laquo;Роскачество&raquo; и&nbsp;отдельные пользователи (руководство, маркетологи клиник) включили следующие сервисы. 
      h2 OnDoc
      p Сервис с&nbsp;телемедицинским функционалом, электронной медкартой, напоминаниями, полноценная система управления для клиник.
      p Возможности:
      ul.list-marked.list-marked--w-prev-par
        li интеграция с&nbsp;МИС,
        li рассылки и&nbsp;акции клиники,
        li личный кабинет клиники, врача, пациента,
        li обратный звонок,
        li статистика, 
        li запись на&nbsp;прием,
        li интеграция с&nbsp;сайтом,
        li отзывы пациентов,
        li чат с&nbsp;врачами и&nbsp;медицинским центром,
        li напоминания пациентам о&nbsp;визитах,
        li консультации, предоплата, 
        li прием платежей,
        li электронные медкарты с&nbsp;курсами лечения, результатами, рекомендациями.
      h3 Характеристики, преимущества
      ul.list-marked.list-marked--w-prev-par
        li Мобильное приложение для телемедицины анализирует показатели с&nbsp;Apple Health, информацию с&nbsp;apps для здоровья хранит в&nbsp;приложении и&nbsp;на&nbsp;сайте, показатели отражены в&nbsp;динамике.
        li Доступ по&nbsp;протоколу https (передача информации по&nbsp;безопасному каналу связи, шифрование, сохранение в&nbsp;обезличенном виде), многофакторная авторизация. 
        li Законодательство: соответствие федеральным законам &#8470;&nbsp;152-ФЗ и &#8470;&nbsp;242-ФЗ.
      h3 Стоимость 
      p Действует 3&nbsp;тарифа: Старт (поддержка лояльности пациентов), Прогресс (для автоматизации работы), Эксперт (для сопровождения в&nbsp;ходе лечения). Стоимость рассчитывается после подачи заявки. Есть данные, что цена начинается от&nbsp;1500&nbsp;рублей/месяц.
      h3 Отзывы клиник после внедрения
      p: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/otzyv-1.jpg' alt='Отзыв' title='Отзыв')
      p: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/otzyv-2.jpg' alt='Отзыв' title='Отзыв')
      h2 &laquo;Цифровая клиники&raquo; от&nbsp;&laquo;Доктор рядом Телемед&raquo;
      p Система телемедицины, являясь коробочным решением, открывает перед клиниками следующие возможности:
      ul.list-marked.list-marked--w-prev-par
        li 3&nbsp;модуля (администратора, врача, пациента), настраиваются под потребности клиники.
        li Все рекомендации врача сохраняются в&nbsp;приложении.
        li Предварительная онлайн-запись к&nbsp;врачам.
        li Выгрузка отчетов по&nbsp;консультациям.
        li 3&nbsp;варианта дистанционных приемов через сайт или приложение: чат, видео, аудио.
        li Доступ к&nbsp;заключениям других специалистов.
        li Загрузка и&nbsp;хранение медицинских документов.
      h2 Характеристики, преимущества
      ul.list-marked
        li Внедрение без необходимости ИТ-доработок.
        li Дистанционное обучение врачей представителями сервиса.
        li Настройка функционала под потребности клиники.
        li Обратная связь для клиник о&nbsp;работе врачей.
        li Предусмотрена защита персональных данных пациентов.
        li Возможность дистанционно консультировать пациентов не&nbsp;только своей клиники (пользователей платформы).
        li Услуга &laquo;дежурный врач&raquo; в&nbsp;круглосуточном режиме.
        li Расширение специальностей: нет необходимости направлять в&nbsp;другие клиники (при отсутствии нужного специалиста), пациент остается внутри приложения клиники.
      h3 Стоимость 
      p Подключение к&nbsp;платформе бесплатное. Отчисления только за&nbsp;каждую консультацию (10%, но&nbsp;не&nbsp;менее 200&nbsp;рублей).
      h3 Отзывы клиник после внедрения
      p В&nbsp;целом представители клиник говорят о&nbsp;положительном влиянии сервиса на&nbsp;рост количества новых клиентов, их&nbsp;лояльность, повышение загруженности врачей. 
      h2 RemsMed от&nbsp;iFors
      p Современная платформа (telemedicine platform) онлайн-взаимодействия врачей и&nbsp;пациентов, направленная на&nbsp;увеличение эффективности и&nbsp;автоматизацию рабочих процессов клиники.
      p Возможности:
      ul.list-marked.list-marked--w-prev-par
        li онлайн-доступ к&nbsp;данным пациента,
        li оперативный обмен сообщениями,
        li видеоконференции с&nbsp;пациентами (интеграция с&nbsp;телемедицинскими устройствами),
        li система уведомлений о&nbsp;показателях здоровья,
        li группировка пациентов по&nbsp;критериям,
        li индивидуальные планы лечения с&nbsp;отслеживанием динамики,
        li оповещения для пациентов, набор отчетов о&nbsp;выполнении врачебных назначений. 
      h3 Характеристики, преимущества
      ul.list-marked
        li Безопасность: в&nbsp;соответствии с&nbsp;нормами &#8470;&nbsp;152-ФЗ проводится шифрование информации, хранение на&nbsp;серверах, расположенных на&nbsp;территории РФ.
        li Выделено единое цифровое хранилище для данных, система работает на&nbsp;платформе Oracle.
        li Интеграция с&nbsp;медицинскими приборами: автоматическое получение показателей. 
        li Исключение врачебных ошибок за&nbsp;счет полноты данных о&nbsp;пациентах.
      h3 Стоимость 
      p В&nbsp;открытом доступе информация о&nbsp;тарифах отсутствует. Чтобы получить персональный расчет для внедрения в&nbsp;клинике, необходимо заполнить и&nbsp;отправить заявку на&nbsp;официальном сайте.
      h3 Отзыв представителя клиники после внедрения
      p По&nbsp;словам заведующего отделением, травматолога-ортопеда, Гаркави Д.А., из&nbsp;Центра медицинской реабилитации&nbsp;им. И.М. Сеченова, в&nbsp;клинике используют RemsMed, никаких нареканий к&nbsp;сервису нет. 
      h2 iBolit
      p Программа (программное обеспечение) телемедицины с&nbsp;актуальными возможностями для клиники:
      ul.list-marked.list-marked--w-prev-par
        li чаты с&nbsp;пациентами (в&nbsp;том числе и&nbsp;от&nbsp;имени регистратуры),
        li система напоминаний о&nbsp;приемах,
        li консультации в&nbsp;аудио- и&nbsp;видеоформате,
        li проведение онлайн-записей,
        li витрина услуг клиники.
      h3 Характеристики, преимущества
      ul.list-marked
        li Возможность принимать оплату: по&nbsp;ФЗ-54 поступление денег и&nbsp;отправка чеков.
        li Не&nbsp;нужна интеграция с&nbsp;информационной системой клиники.
        li Сбор аналитики, статистика: по&nbsp;возвращаемости пациентов, конверсии.
        li Представители сервиса бесплатно обучают врачей непосредственно в&nbsp;клинике. 
        li Помощь с&nbsp;оформлением договора и&nbsp;юридическим сопровождением.
        li Нет возможности найти другие клиники: пациенту доступны только врачи определенного медучреждения. 
        li Реализовано шифрование для передачи данных. 
        li Расчет заработной платы врача за&nbsp;онлайн-услуги.
        li Маркетинговый функционал: рассылки, акции, реферальная программа, SMM.
        li Предоставление дежурного доктора от&nbsp;клиник-партнеров.
        li Внедрение и&nbsp;оптимизация сервиса от&nbsp;1&nbsp;дня.
        li Услуги колл-центра: сервис предоставляет сотрудников для продажи услуг клиники.
      h3 Стоимость 
      p Есть бесплатный пробный период. Подключение к&nbsp;телемедицинской платформе стоит от&nbsp;2000&nbsp;рублей/месяц. Персональный расчет предлагают после подачи заявки. 
      h3 Отзывы клиник после внедрения
      p Часть представителей клиник рассказывают о&nbsp;сбоях в&nbsp;работе сервиса, другие говорят, что он&nbsp;работает относительно стабильно, нравится удобный интерфейс, но&nbsp;не&nbsp;устраивает запутанная административная панель и&nbsp;отсутствие интеграции с&nbsp;МИС.
      h2 Medsenger
      p Сервис дистанционного взаимодействия между врачом и&nbsp;пациентом с&nbsp;такими возможностями:
      ul.list-marked.list-marked--w-prev-par
        li обмен сообщениями, в&nbsp;том числе голосовыми,
        li возможность прилагать документы, фото,
        li сбор сведений об&nbsp;истории болезни,
        li загрузка телефона клиники для оказания экстренной помощи,
        li рейтинг врачей на&nbsp;основании оценок,
        li сохранение переписки, без сохранения контактов врача,
        li регистрации тестового аккаунта для опробования возможностей сервиса.
      h3 Характеристики, преимущества
      ul.list-marked
        li Возможность установки на&nbsp;любых платформах (iOS, Android, Web).
        li Создание и&nbsp;закрытие канала консультирования в&nbsp;автоматическом режиме.
        li Консультирование в&nbsp;рамках контракта.
        li Соответствие федеральному закону &#8470;&nbsp;152-ФЗ.
        li Возможность контроля качества консультаций.
        li Организацию процесса выполняет администратор клиники.
        li Медучреждение получает комплект рабочих и&nbsp;рекламных материалов.
      h3 Стоимость
      p 360 рублей за&nbsp;один месяц консультирования одного человека.
      h3 Отзывы клиник после внедрения
      p Большинство отзывов посвящены сожалению о&nbsp;том, что сервис не&nbsp;предоставляет возможности удаленных видеоконсультаций.
      h2 DocDoc
      p Телемедицинская система со&nbsp;следующими возможностями:
      ul.list-marked.list-marked--w-prev-par
        li запись на&nbsp;прием,
        li отзывы о&nbsp;врачах,
        li интеграция с&nbsp;CRM-решениями,
        li публикация анкет врачей, информации о&nbsp;клинике,
        li личный кабинет медучреждения,
        li интеграция с&nbsp;расписанием клиники.
      h3 Характеристики, преимущества
      ul.list-marked
        li Клиент может записываться через менеджера, если оставляет свой номер телефона.
        li Запись производится после ввода кода, присланного в&nbsp;СМС.
        li Рейтинг врачей формируется на&nbsp;базе математической модели (учитываются отзывы пациентов, специализация, образование, опыт работы).
        li Сервис облегчает поиск по&nbsp;стоимости, географии приема, специализации.
        li Пациенты связываются с&nbsp;колл-центром сервиса через заявку или звонок, которые переводятся на&nbsp;администратора клиники.
        li Контроль качества: в&nbsp;личном кабинете опция прослушивания аудиозаписей разговоров.
      h3 Стоимость
      p Оплата только за&nbsp;первый прием. Расчет ведется за&nbsp;каждого записанного пациента, в&nbsp;размере от&nbsp;100&nbsp;рублей.
      h3 Отзывы клиник после внедрения
      p В&nbsp;целом площадку рекомендуют как полезную, но&nbsp;есть жалобы на&nbsp;длительное ожидание реакции от&nbsp;службы поддержки, переадресацию между ее&nbsp;сотрудниками, прежде чем вопрос не&nbsp;будет решен.
      h2 Единый медицинский портал
      p Возможности:
      ul.list-marked.list-marked--w-prev-par
        li создание медицинской карты, дневников самоконтроля,
        li аудио-, видеосвязь, сообщения,
        li загрузка и&nbsp;отправка результатов анализов,
        li интеграция с&nbsp;1С, МИС, CRM,
        li контроль показателей здоровья,
        li конструктор медицинских документов.
      h3 Характеристики, преимущества
      ul.list-marked
        li Полное соответствие законодательству: защищенный контур для взаимодействия с&nbsp;информацией, криптография для шифрования, хранение данных на&nbsp;территории РФ.
        li API для наладки двустороннего обмена информацией.
        li Создание документов по&nbsp;шаблонам или в&nbsp;соответствии со&nbsp;стандартами клиники.
        li Демо-доступ, чтобы изучить работу платформы глазами администратора, пациента и&nbsp;врача.
      h3 Стоимость
      p В&nbsp;открытом доступе цены не&nbsp;указаны. Расчет ведется после заполнения и&nbsp;отправки заявки на&nbsp;официальном сайте телемедицинской платформы.
      h2 Медведь.Телемед
      p Возможности:
      ul.list-marked.list-marked--w-prev-par
        li интеграция с&nbsp;МИС,
        li запись на&nbsp;прием,
        li онлайн-оформление новых пациентов,
        li автоматизированный сбор анамнеза,
        li чат-боты,
        li онлайн-оплата,
        li аудио-, видеоконсультации, телемедицина в&nbsp;чате,
        li контроль выполнения рекомендаций,
        li сбор показателей самочувствия,
        li автоматические напоминания о&nbsp;приемах,
        li уведомления об&nbsp;акциях,
        li электронный обмен документами.

      h3 Характеристики, преимущества
      ul.list-marked
        li Для защищенности телемедицинской платформы нет необходимости в&nbsp;специализированном оборудовании.
        li Видеоконсультации со&nbsp;скоростью от&nbsp;1&nbsp;Мбит/час.
        li Соответствие законодательству: передача и&nbsp;хранение информации в&nbsp;защищенной сети, авторизация на&nbsp;портале с&nbsp;помощью электронной подписи.
        li Демо-доступ: для тестирования работы системы, понимания интеграции с&nbsp;сервисами.
        li Обучение врачей, предоставление готовых регламентов работы.
      h3 Стоимость
      p Цена рассчитывается после заполнения заявки. Нужно указать: вид предоставляемых услуг, вариант телемедицины, количество врачей, подключаемых к&nbsp;платформе, способ записи, технические опции. Принцип оплаты&nbsp;&mdash; за&nbsp;реальные визиты в&nbsp;клинику.
      h3 Отзывы клиник после внедрения
      p В&nbsp;некоторых отзывах пишут о&nbsp;проблемах с&nbsp;авторизацией врача, но&nbsp;техническая поддержка быстро реагирует и&nbsp;устраняет сложности.
      h2 Сравнительная таблица сервисов телемедицины
      -
        const table = {
          eqCols: true,
          centered: true,
          rows: [
            [
              {header: true, content: 'ONDOC'},
              {header: true, content: '«Доктор рядом Телемед»<br>(«Цифровая клиника»)'},
              {header: true, content: 'RemsMed'},
              {header: true, content: 'iBolit'},
              {header: true, content: 'Medsenger'},
              {header: true, content: 'DocDoc'},
              {header: true, content: 'Единый медицинский портал'},
              {header: true, content: 'Медведь.Телемед'},
            ],
            [
              'от&nbsp;1500 руб./месяц, 3&nbsp;тарифа на&nbsp;выбор',
              'бесплатное подключение, 10%/консультация',
              'расчет стоимости по&nbsp;заявке',
              'бесплатный пробный период, от&nbsp;2000 руб./месяц',
              'от 360 рублей/пациента',
              'от 100  руб./пациента',
              'расчет стоимости по заявке',
              'от 360 рублей/пациента',
            ],
            [
              {colspan: 3, content: 'интеграция с МИС'},
              '-',
              '-',
              '-',
              '+',
              '+',
            ],
            [
              'рассылки и&nbsp;акции клиники',
              '-',
              '-',
              '+ (также реферальная программа, SMM)',
              '-',
              '-',
              '-',
              '+',
            ],
            [
              'сбор статистики',
              '-',
              '-',
              '+',
              '-',
              '-',
              '-',
              '-',
            ],
            [
              {colspan: 2, content: 'онлайн-запись'},
              '-',
              '+',
            ],
            [
              {colspan: 2, content: 'интеграция с сайтом'},
              '-',
              '-',
              '-',
              '+',
              '+',
              '+',
            ],
            [
              'чат (с врачами и клиникой)',
              'дистанционный прием через чат',
              'чат врача с пациентом',
              'чаты (и от имени регистратуры)',
              {colspan: 3, content: 'чат врача с пациентом'},
              'чат-боты',
            ],
            [
              'напоминания о приемах',
              '-',
              'система оповещений для пациентов',
              '+',
              '-',
              '-',
              '-',
              '+',
            ],
            [
              {colspan: 2, content: 'возможность приема платежей'},
              '-',
              '+',
              '-',
              '-',
              '-',
              '+',
            ],
            [
              'система уведомлений о показателях здоровья',
              '-',
              '+',
              '-',
              '-',
              '-',
              '+',
              '+',
            ],
            [
              '-',
              'услуга «дежурный врач»',
              '-',
              '+',
              '-',
              '-',
              '-',
              '-',
            ],
            [
              {colspan: 2, content: 'электронные медкарты'},
              '-',
              '-',
              '-',
              '-',
              '+',
              '+',
            ],
            [
              'шифрование, многофакторная авторизация',
              'защита персональных данных пациентов',
              'шифрование информации, серверы хранения данных в РФ',
              'шифрование для передачи данных',
              '+',
              '-',
              '+',
              '+',
            ],
            [
              '-',
              'бесплатное дистанционное обучение врачей',
              '-',
              'бесплатное обучение врачей прямо в клинике',
              '-',
              '-',
              '-',
              '+',
            ],
            [
              '-',
              '+',
              '-',
              'помощь с оформлением договора, юридическое сопровождение',
              '-',
              '-',
              '-',
              '-',
            ],
          ]
        }
      +tablePrices(table) 
      h2 Выводы и&nbsp;рекомендации 
      p Телемедицину частные компании в&nbsp;России могут развивать достаточно просто и&nbsp;эффективно: на&nbsp;выбор специализированные сервисы с&nbsp;базовым и&nbsp;расширенным функционалом. 
      h3 В&nbsp;зависимости от&nbsp;размеров клиники
      p Если необходимо внедрение в&nbsp;сетевую клинику, то&nbsp;лучше обратить внимание на&nbsp;предложения с&nbsp;полной поддержкой поставщиков телемедицинских платформ: наличие интеграции с&nbsp;сайтом, МИС, помощи с&nbsp;обучением персонала, услугами по&nbsp;оптимизации сервиса, настройки функционала под потребности клиники. Для одиночного медицинского учреждения можно исходить из&nbsp;базового набора функционала и&nbsp;технической поддержки. 
      h3 По&nbsp;профильным направлениям и&nbsp;бюджету 
      p Ориентируясь на&nbsp;размер выделенного бюджета и&nbsp;профильных направлений клиники, можно ограничиться заказом узкого набора опций, тестировать платформы в&nbsp;рамках бесплатного периода использования, привлекать уже обученных телемедицине специалистов.
      h3 Для увеличения конверсии
      p Для повышения лояльности пациентов, наращивания базы, охвата жителей удаленных регионов, важно сосредоточиться на&nbsp;маркетинговом функционале сервисов: услуг рассылки, технологии для проведения акций, привлечения сторонних сотрудников для продажи услуг клиники. Также важна будет система оценок деятельности врачей и&nbsp;отзывов об&nbsp;уровне оказанной медицинской помощи.
      h3 Для улучшения конкурентоспособности 
      p Расширить спектр услуг, улучшить сервис, предлагать конкурентные преимущества помогут дополнительные предложения платформ: функция обратного звонка, напоминания о&nbsp;приеме лекарств, прием платежей внутри приложения, сбор показателей здоровья с&nbsp;медицинских приборов, отчеты о&nbsp;выполнении врачебных назначений, подготовка индивидуальных планов лечения с&nbsp;контролем динамики.
