.page-call
  display flex
  justify-content center
  text-align center
  &__inner
    max-width 22rem
  &__header
    padding basePadding (basePadding*2)
    color #ffffff
    background-color #674380
    border-bottom (basePadding/3) solid #000000
    position relative
    border-radius (basePadding/2) (basePadding/2) 0 0
    &::after
      content ''
      position absolute
      width 0
      height 0
      border (basePadding/3*5) solid transparent
      border-top (basePadding/3*5) solid #000
      bottom 0
      left 50%
      transform translateX(-50%) translateY(100%)
  &__phone
    font-size 1.75rem
    // font-weight bold
    padding (basePadding*2) (basePadding*2) basePadding
    // padding-left (font-m*2+basePadding)
    line-height (font-xxxl)
    display flex
    justify-content center
    align-items center
    &::before
      content ''
      background-image url('../images/phone-black.svg')
      // background-size (font-xxxl)
      background-repeat no-repeat
      display inline-block
      height 2.5rem
      width 2.5rem
      margin-right (basePadding/3*2)
