.list-analyze
  display flex
  flex-wrap wrap
  justify-content center 
  margin-bottom -(basePadding*2)
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  @media screen and (min-width point-m+1)
    margin-x (-(basePadding*2))
  @media screen and (min-width point-l)
    margin-x (-(basePadding*3))
  &__item
    width 20rem
    padding-x (basePadding*2)
    margin-bottom (basePadding*2)
    display flex
    flex-direction column
  &__title
    line-height 1.125
    font-weight bold
    text-align center
    padding basePadding
    color #ffffff
    background-color #6f277f
    border-radius (basePadding/2) (basePadding/2) 0 0
  &__body
    padding basePadding
    background-color #fdfdfd
    border 1px solid #ced2d5
    border-top none
    border-radius 0 0 (basePadding/2) 0
    flex-grow 1
    .list-marked
      font-size font-s
      line-height line-s
      margin-bottom 0
