.list-analyze
  .list-analyze__item
    .list-analyze__title Реклама
    .list-analyze__body
      ul.list-marked
        li Охват и целевая аудитория
        li Каналы рекламы
        li Количество переходов
        li Качество трафика
        li Стоимость перехода
  .list-analyze__item
    .list-analyze__title Сайт
    .list-analyze__body
      ul.list-marked
        li Количество заявок
        li Конверсия сайта
        li Стоимость заявки
  .list-analyze__item
    .list-analyze__title Первичные пациенты
    .list-analyze__body
      ul.list-marked
        li Количество первичных пациентов
        li Конверсия администраторов
