.header-menu
  display flex
  flex-wrap wrap
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  @media screen and (min-width point-m+1)
    margin-x (-(basePadding*2))
  @media screen and (min-width point-l)
    margin-x (-(basePadding*3))
  background-color #333333
  border-radius (basePadding*2) (basePadding*2) 0 0
  & > &__item
    flex-grow 1
    display flex
    position relative
    a
      font-size font-s
      line-height line-s
      display inline-block
      width 100%
      padding (basePadding/3*4) (basePadding*2)
      color #ffffff
      text-decoration none
      text-align center
      transition background-color timing-s
      &:hover
        background-color color-link
        transition none
    &:hover ^[-1]__sublist
        display flex
    &:first-of-type
      a
        border-radius (basePadding*2) 0 0 0
    &:last-of-type
      a
        border-radius 0 (basePadding*2) 0 0
      & ^[-2]__sublist
        left auto
        right 0
  &__sublist
    display none
    position absolute
    _top = 'calc('+ (line-s + basePadding/3*8) + ' - 1px)'
    top unquote(_top)
    left 0
    flex-direction column
    background-color #211e17
    padding-y (basePadding*2)
    z-index 1000
    & > ^[-1]__item
      margin-bottom (basePadding/3*2)
      &:last-child
        margin-bottom 0
      a
        padding 0 (basePadding*2)
        white-space nowrap
        text-align left
        transition color timing-s
        &:hover
          background-color transparent
          color color-link
          transition none
        
