.header-mobile
  .header-mobile__logo
    include header-mobile-logo/header-mobile-logo
  .header-mobile__info
    span.header-mobile__name Медреклама
    span.header-mobile__phone +7 (812) 
      strong 385-74-64
  .header-mobile__menu
    include header-mobile-switcher/header-mobile-switcher
    include header-mobile-menu/header-mobile-menu
    
  
  
