
.case-offer
  background-color #eeeeee
  padding-y 5rem
  position relative
  text-align center
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  @media screen and (min-width point-m+1)
    margin-x (-(basePadding*2))
  @media screen and (min-width point-l)
    margin-x (-(basePadding*3))
  &__title
    font-weight bold
    line-height 2rem
    font-size 1.5rem
    margin-bottom 0.5rem
  &__description
    margin-bottom (basePadding*2)
  &__button
    width 100%
    max-width 20rem
  &::before
    content ''
    width 100%
    height 2.5rem
    background linear-gradient(to right bottom, #ffffff 50%, transparent 50%)
    position absolute 
    top 0
    left 0
  &::after
    content ''
    width 100%
    height 2.5rem
    background linear-gradient(to left top, #ffffff 50%, transparent 50%)
    position absolute 
    bottom 0
    left 0
  &__modal
    display none
