mixin caseOffer(settings = {title:'Запустить эффективную<br>рекламную кампанию', desc: 'с небольшим бюджетом'})
  .case-offer
    .case-offer__title !{settings.title}
    .case-offer__description !{settings.desc}
    a(href='#case-offer__modal').case-offer__button.btn.modal Отправить заявку
    .case-offer__modal#case-offer__modal
      form.form.case-offer__form#case-offer-form
        .form__header Прогноз бюджета
        .form__row Мы бесплатно проанализируем Ваш сайт и вышлем Вам развернутое предложение:
        .form__row
            input(type='text' name='form[site]' id='site' required placeholder='Ваш сайт').form-input.rsform-input-box.rsform-error
        .form__row
            input(type='text' name='form[fio]' id='fio' required placeholder='Ваше имя').form-input.rsform-input-box.rsform-error
        .form__row
            input(type='tel' name='form[phone]' id='phone' required placeholder='+7 ( ) - - ').form-input.rsform-input-box.rsform-error
        .form__row
            input(type='email' name='form[email]' id='email' required placeholder='Электронная почта').form-input.rsform-input-box.rsform-error
        .form__row
            textarea(name='form[message]' id='message' required placeholder='Вид услуг, ваши пожелания').form-input.rsform-input-box
        .form__submit
          button(type='submit').btn Заказать расчёт
    
