-
  var feedback = [
    {
      text: 'Благодаря работе компании "Медреклама" наш сайт уверенно продвинулся в топовые позиции по запросам в поисковых системах, даже учитывая высокую конкуренцию по нашему направлению. А также хочется отметить оперативность в решении вопросов и четкость выдаваемых рекомендаций',
      name: 'Дмитрий Метелев',
      occupation: 'Генеральный директор',
      organization: 'Многопрофильная клиника «Медицинский Центр Города»',
      photo: 'metelev',
    },
    {
      text: 'Несмотря на небольшой объем поставленных перед агентством задач, его сотрудники успели зарекомендовать себя как грамотное и эффективное агентство, вникающие в тонкости бизнеса клиента, как в свои собственные.',
      name: 'Трейгер А.З.',
      occupation: 'Генеральный директор',
      organization: 'Многопрофильная клиника «Первая семейная клиника Петербурга»',
      photo: 'treiger',
    },
    {
      text: 'Особо хочется отметить индивидуальный подход к каждой нашей задаче. При общении с вами начинается теряться ощущение отношений клиент-подрядчик, общение ведется как с коллегами, с которыми работа идет в рамках единой компании, настолько велика ваша вовлеченность в решении наших задач',
      name: 'Сергей Лобанов',
      occupation: 'Генеральный директор',
      organization: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
      photo: 'lobanov',
    },
    {
      text: 'В результате проведенных работ, значительно укрепился статус нашей компании, и повысилось узнаваемость наших услуг.<br>Хотелось бы выразить свою благодарность коллективу компании «Медреклама» за ответственность, оперативность, внимательность, а также своевременное реагирование на наши поручения.',
      name: 'Ираида Рослякова',
      occupation: 'Руководитель',
      organization: 'Аюрведический медицинский центр Shankara',
      photo: 'roslyakova',
    },
    {
      text: 'В настоящее время к нам постоянно поступают предложения по продвижению сайта от других компаний. Но я четко знаю, что такого персонализированного подхода я не получу больше нигде. По сути, мне помогают развивать бизнес. А не просто дублируют его развитие в Интернет-пространстве.',
      name: 'Ольга Лейтес',
      occupation: 'Генеральный директор',
      organization: 'Салон красоты «Центр Дизайна Волос»',
      photo: 'leites',
    },
    {
      text: 'Спасибо всем сотрудникам рекламного агентства «Медреклама» за профессионализм, качественную работу, индивидуальный подход и внимание, нам очень приятно и сотрудничать с Вами, и это приносит большие результаты в нашей работе.',
      name: 'Наталья Ворожбиева',
      occupation: 'Управляющий магазином',
      organization: 'Волосы24',
      photo: 'vorojbieva',
    },
  ]
.home-feedback
  +grid({justify: 'center'})
    +grid__item({m:10,s:12}).home-feedback__slides
      ul.slides
        each item in feedback
          li
            +feedbackItem(item)
  .home-feedback__link
    a(href='/reports') все рекомендации
