.home-feedback
  position relative
  margin-top (basePadding*1.5)
  margin-bottom (basePadding*4)
  @media screen and (max-width point-s)
    margin-x basePadding
  &__link
    padding-top (basePadding)
  &__slides
    background-color #f0f0f0
    border-radius (basePadding*4) 0 (basePadding*4) 0
    @media screen and (max-width point-s)
      margin-x (-(basePadding))
      padding-x 0
  .flex-nav-prev
  .flex-nav-next
    position absolute
    top 50%
    transform translateY(-50%)
    a
      display block
      width (basePadding*3)
      height (basePadding*6)
      &::before
        content ''
        width (basePadding*3)
        height (basePadding*3)
        display block
  .flex-nav-prev
    left 0
    @media screen and (max-width point-s)
      left (-(basePadding*2))
    a
      &::before
        transform translateX(10px) translateY(50%) rotate(225deg)
        border-right 0.25rem solid
        border-top 0.25rem solid
  .flex-nav-next
    right 0
    @media screen and (max-width point-s)
      right (-(basePadding*2))
    a
      &::before
        transform translateX(-10px) translateY(50%) rotate(225deg)
        border-left 0.25rem solid
        border-bottom 0.25rem solid
  
