mixin caseInfoList(list)
  .case-info-list
    each item in list
      .case-info-list__item(class='case-info-list__item--'+item.className)
        .case-info-list__title !{item.title}
        .case-info-list__info !{item.info}
