extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сеть стоматологических клиник «Стомадеус»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/stomadeus.jpg',
          title: 'Сеть стоматологических клиник «Стомадеус»',
          link: {
            text: 'http://www.stomadeus.ru/',
            href: 'http://www.stomadeus.ru/'
          },
          info: [
            {tag: 'p', content: 'Стоматологические клиники «Стомадеус» оказывает спектр услуг по терапевтическому, хирургическому, ортодонтическому, пародонтологическому лечению, протезированию зубов и эстетической стоматологии.'}
          ]
        }
      +pageDevelopment(page)
