.why-we
  padding-top (basePadding*2)
  // margin-bottom (basePadding*4)
  &__list
    display flex
    flex-wrap wrap
    justify-content center
    margin -(basePadding)
  &__item
    width 18rem
    padding basePadding
    text-align center
    color color-text
    text-decoration none 
    &::before
      width 3rem
      height 2rem
      content ''
      display block
      margin-bottom basePadding
      background-image url('../images/result.png')
      background-size contain
      background-repeat no-repeat
      background-position center
      margin-x auto
    &:nth-child(1)
      &::before
        height 5.5rem
        width 5.7rem
        background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 118 110'><defs><style>.cls-1{fill:%23432c53;}.cls-2{fill:%23674380;}</style></defs><title>briefcase</title><path class='cls-1' d='M-11.93,125.1v4.4a4.39,4.39,0,0,0,4.37,4.4H-1V120.7H-7.56A4.39,4.39,0,0,0-11.93,125.1Z' transform='translate(60 -63.5)'/><path class='cls-1' d='M-11.93,138.3a4.39,4.39,0,0,1-4.37-4.4v-5.35A221.48,221.48,0,0,1-60,111.9v52.8a8.77,8.77,0,0,0,8.74,8.8H-1V138.3H-11.93Z' transform='translate(60 -63.5)'/><path class='cls-1' d='M-16.3,120.7a4.39,4.39,0,0,1,4.37-4.4H-1V81.1H-16.3V76.7a4.39,4.39,0,0,1,4.37-4.4H-1V63.5H-16.3A8.77,8.77,0,0,0-25,72.3v8.8H-51.26A8.77,8.77,0,0,0-60,89.9v17.6a217.73,217.73,0,0,0,43.7,17.16v-4Z' transform='translate(60 -63.5)'/><path class='cls-2' d='M14.3,133.9a4.39,4.39,0,0,1-4.37,4.4H-1v35.2H49.26A8.77,8.77,0,0,0,58,164.7V111.9a221.79,221.79,0,0,1-43.7,16.65v5.35Z' transform='translate(60 -63.5)'/><path class='cls-2' d='M9.93,129.5v-4.4a4.39,4.39,0,0,0-4.37-4.4H-1v13.2H5.56A4.39,4.39,0,0,0,9.93,129.5Z' transform='translate(60 -63.5)'/><path class='cls-2' d='M49.26,81.1H23V72.3a8.77,8.77,0,0,0-8.74-8.8H-1v8.8H9.93a4.39,4.39,0,0,1,4.37,4.4v4.4H-1v35.2H9.93a4.39,4.39,0,0,1,4.37,4.4v3.94A218,218,0,0,0,58,107.5V89.9A8.77,8.77,0,0,0,49.26,81.1Z' transform='translate(60 -63.5)'/></svg>")
    &:nth-child(2)
      &::before
        height 5.5rem
        width 3.5rem
        background-image url("data:image/svg+xml;utf8,<svg id='_2' data-name=' 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 74 110'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}</style></defs><title>Clipboard</title><path class='cls-1' d='M70.48,22H66.54A3.54,3.54,0,0,1,63,24.93H11A3.54,3.54,0,0,1,7.46,22H3.52A3.51,3.51,0,0,0,0,25.49v81A3.51,3.51,0,0,0,3.52,110h67A3.51,3.51,0,0,0,74,106.51v-81A3.51,3.51,0,0,0,70.48,22ZM37,86.53H4.44V83.6H37v2.93Zm31.22,1L53.85,102.45a1.09,1.09,0,0,1-1.39,0l-2.2-2.24-1-1.12-5.1-5.36C44,93.6,42.27,92,42.85,90.86a2.3,2.3,0,0,1,3.47-1l6.14,6.48h1.27L66,83.39a2,2,0,0,1,2.55-.25C70,84,69.26,86.25,68.22,87.5Zm1.34-12.7H4.44V71.87H69.56V74.8Zm0-11.73H4.44V60.13H69.56v2.93Zm0-11.73H4.44V48.4H69.56v2.93Zm0-11.73H4.44V36.67H69.56V39.6Z'/><path id='Layer-2' class='cls-2' d='M63,23.47H11A3.54,3.54,0,0,1,7.4,19.95V11.73A3.54,3.54,0,0,1,11,8.21H28.71a8.29,8.29,0,0,1,16.58,0H63a3.54,3.54,0,0,1,3.55,3.52v8.21A3.54,3.54,0,0,1,63,23.47ZM37,4.69a3.52,3.52,0,1,0,3.55,3.52h0A3.54,3.54,0,0,0,37,4.69Z'/></svg>")
    &:nth-child(3)
      &::before
        height 5.5rem
        width 5.5rem
        background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 112 110'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}</style></defs><title>Star_life</title><path class='cls-1' d='M49.63,41.83c-0.19,0-.36-0.07-0.55-0.07a5.88,5.88,0,1,0,0,11.77A5.81,5.81,0,0,0,52,52.71V47.63h4V44.69H54.2A5.11,5.11,0,0,1,49.63,41.83Z'/><path class='cls-1' d='M56,9.43V0H40.3V26.49l-23-13.37L1.44,40.7,24.25,53.93,0,68,15.86,95.51,40.3,81.37V110H56v-9.44a2.9,2.9,0,0,1-2.53-2.79s0-.09,0-0.13V87.34A2.91,2.91,0,0,1,56,84.45V80.38l-5.29,2.15a2.92,2.92,0,0,1-3.79-1.58l0,0a2.94,2.94,0,0,1,1.61-3.82h0L56,74V69.91l-9.4,3.81a2.92,2.92,0,0,1-3.79-1.56l0-.05a3,3,0,0,1,1.62-3.84L56,63.56V59.1a14.71,14.71,0,0,1-6.91,1.77,13.24,13.24,0,1,1,0-26.47c0.5,0,3.91-.06,4.39,0H56V30H50.54V15.28A5.81,5.81,0,0,1,56,9.43Z'/><path class='cls-2' d='M87.65,54l23.17-13.42L95,13,72,26.33V0H56V9.43l0.31,0a5.82,5.82,0,0,1,5.95,5.69c0,0.06,0,.12,0,0.18V30H56V34.4h2.6a5.15,5.15,0,1,1,0,10.29H56v2.94h4.79V55A14.52,14.52,0,0,1,56,59.1v4.46l10.12-4.11A2.92,2.92,0,0,1,69.91,61l0,0a2.94,2.94,0,0,1-1.62,3.82L56,69.91V74l6.09-2.47a2.92,2.92,0,0,1,3.79,1.58l0,0A2.94,2.94,0,0,1,64.28,77L56,80.38v4.07l0.23,0h0l4.56-1.85a2.92,2.92,0,0,1,3.79,1.58l0,0A2.94,2.94,0,0,1,63,88L59.32,89.5v8.13a2.91,2.91,0,0,1-2.86,3,3,3,0,0,1-.46,0V110H72V81.65L96.17,95.7,112,68.11Zm-21-9.29c-1.62,0-2.93-.66-2.93-1.47s1.31-1.47,2.93-1.47,2.93,0.66,2.93,1.47S68.25,44.69,66.63,44.69Z'/><path class='cls-1' d='M56,37.34h0a1.47,1.47,0,1,0,0,2.94H56V37.34Z'/><path class='cls-2' d='M56,37.34h0a1.47,1.47,0,1,1,0,2.94H56V37.34Z'/></svg>")
    &:nth-child(4)
      &::before
        height 5.5rem
        width 5.7rem
        background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 182 110'><defs><style>.cls-1{fill:%23432c53;}.cls-2{fill:%23674380;}</style></defs><title>handshake</title><path class='cls-1' d='M154.7,14.15L100.1,0.46s-6.69-1-9.1,0S68.25,14.15,68.25,14.15L47.78,27.84S39.27,32.38,45.5,37s9.76,4.38,18.65-1.51c6.14-4.09,15.47-9.9,15.47-9.9a5.8,5.8,0,0,1,7,0c0.91,0.71,54.19,45.57,54.28,47.4h13.65Zm4.55,61.62V11.87H182v63.9H159.25Zm15.93-11.41h-6.83v4.56h6.83V64.36Z'/><path class='cls-2' d='M27.23,9.12H70.45L41,27.88s-3.16,2.64-2.28,6.27C40.2,40,45.18,42,47.06,42.64c2.74,1,8.16,1.63,10.64.76,3.72-1.3,8-4.41,8.8-5L81.9,27.88h2.27l45.5,38.8s12.42,8.19,2.27,16C128.11,86,116,75.8,116,75.8L84.18,50.7,81.9,53l36.4,29.67s10.81,6.84,5.19,14.37c-4.69,5.85-15.71-3.28-15.71-3.28L77.35,69l-2.27,2.28,25,22.43s7.82,6.42,2.32,11.8c-4.8,4.71-11.37,0-11.37,0L66,84.93,63.7,87.21,75.26,98.09s5,3.95,4.36,7.38c-3.3,8.63-11.37,2.28-11.37,2.28L27.3,73.52ZM0,73.52V7.34H22.75V73.52H0Zm9.1-16a4.56,4.56,0,1,0,4.55,4.56A4.56,4.56,0,0,0,9.1,57.54Z'/></svg>")
    &:nth-child(5)
      &::before
        height 5.5rem
        width 6.7rem
        background-image url("data:image/svg+xml;utf8,<svg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'  viewBox='0 0 190 110' style='enable-background:new 0 0 190 110;' xml:space='preserve'><path class='st0' fill='%23432C53' d='M54,66.8v31.4c0,0,10.2,11.8,40.6,11.8H96v-6.7c-19.8,0-35.8-4-35.8-9s16-9,35.8-9V51.6 C67.8,51.9,54,66.8,54,66.8z'/><path class='st0' fill='%23432C53' d='M0,44.3l22.5,9.4v20.9c-3.1,1.4-4.5,5-3.2,8.1c0.6,1.4,1.8,2.6,3.3,3.2L18,98.8h13.5L26.9,86c3.2-1,5-4.4,4-7.6 c-0.6-1.9-2-3.3-3.9-3.9V55.6L42.5,62c0,0,26.3-20,53.5-21V0L0,44.3z'/><path class='st1' fill='%23674380' d='M96.8,51.6H96v33.6h0.3c19.9,0,36,4,36,9s-16.1,9-36,9H96v6.7c29.4-0.4,43.6-11.8,43.6-11.8V66.8 C139.6,66.8,125.6,51.6,96.8,51.6z'/><path class='st1' fill='%23674380' d='M96,0v41c0.7,0,1.3,0,2,0c28.5,0,49.3,21,49.3,21L190,44.9L96,0z'/></svg>")
  &__title
    font-weight bold
    margin-bottom (basePadding/3*2)
    color color-text
  &__info
    margin-bottom (basePadding/3)
  &__link
    font-size font-xs
    text-decoration underline
    @extend a
