
-
  const whyWe = [
    {
      title: 'Компетенции в сфере медицинского маркетинга',
      info: 'Опыт работы по продвижению клиник с 2008 года'
    },
    {
      title: 'Проверенные методы',
      info: 'Опробованные рекламные стратегии для различного типа клиник'
    },
    {
      title: 'Специализация',
      info: 'Мы сконцентрировались на медицинских проектах. 100% текущих клиентов - это клиники.'
    },
    {
      title: 'Стабильность результата',
      info: '95% клиентов работают с нами уже много лет'
    },
    {
      title: 'Сертифицированные специалисты',
      info: 'Сотрудники имеют сертификаты по всем направлениям интернет рекламы.'
    },
  ]

.why-we
  ul.why-we__list
    each item in whyWe
      .why-we__item
        //- .why-we__img
        //-   img(src= item.img.src alt= item.img.alt)
        //- div(style='width: 4rem; height: 4rem; background-color: #cccccc; margin: 0 auto 0.75rem')
        .why-we__title !{item.title}
        .why-we__info !{item.info}
