.book-module#book-module
  .book-module__close
  .book-module__inner
    .book-module__title Скачать бесплатно книгу в pdf 
      strong "Конкурентные преимущества в рекламе клиники"
    form.book-module__form
      .book-module__input
        input(type='text' placeholder='Ваше имя' required).form-input
      .book-module__input
        input(type='email' placeholder='Ваш e-mail' required).form-input
      .book-module__submit
        button(type='submit').btn Получить
    .book-module__message
      strong Вам отправлено письмо
      p На указанный вами электронный адрес 
        span.book-module__msg-mail
        |  было выслано письмо со ссылкой для подтверждения подписки. Сразу после подтверждения подписки вы получите письмо с книгой.
    p.book-module__info
      strong Благодаря книге
      |  вы сможете сформулировать собственное позиционирование и 
      strong увеличить конверсию
      |  сайта клиники минимум 
      strong на 30%
      |  без дополнительных вложений.
  .book-module__open
    span Книга в подарок
