@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Regular.ttf')
  font-style normal
  font-weight normal
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Italic.ttf')
  font-style italic
  font-weight normal
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Bold.ttf')
  font-style normal
  font-weight bold
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-BoldItalic.ttf')
  font-style italic
  font-weight bold
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Semibold.ttf')
  font-style normal
  font-weight 600
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-SemiboldItalic.ttf')
  font-style italic
  font-weight 600
