// breakpoints

point-s = 500px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

// font sizes

font-xxs = 0.625rem
font-xs = 0.75rem
font-s = 0.875rem
font-m = 1rem
font-l = 1.125rem
font-xl = 1.25rem
font-xxl = 1.375rem
font-xxxl = 1.5rem
// line-heights

line-xxs = 0.9375rem
line-xs = 1.125rem
line-s = 1.3125rem
line-m = 1.65rem
line-l = 1.6875rem
line-xl = 1.875rem
line-xxl = 2.0625rem
line-xxxl = 2.25rem

// base-padding
basePadding = 0.75rem

// timings

timing-s = 0.4s
timing-m = 0.8s
timing-l = 1.2s

// colors

color-text = #000000
color-text-secondary = #797677
color-text-light = #9e9e9e
color-link = #734d76
color-link-hover = #49194D

// svg

html
  --blog-date svgImport('svg/blogHeaderDate.svg')
  --blog-author svgImport('svg/blogHeaderAuthor.svg')
  --blog-views svgImport('svg/blogHeaderViews.svg')
