mixin resultsTable(table)
  table.results-table
    each row in table
      tr
        each item in row
          if typeof(item) == 'string'
            td.results-table__td !{item}
          else if item.type == undefined || item.type == ''
            td.results-table__td !{item.content}
          else if item.type == 'marked'
            td.results-table__td.results-table__td--marked !{item.content}
          else if item.type == 'header'
            th.results-table__th !{item.content}
          else if item.type == 'header-ya'
            th.results-table__th.results-table__th--ya !{item.content}
