extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Портал индустрии красоты Hairlife.ru'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/hairlife.jpg',
          title: 'Портал индустрии красоты Hairlife.ru',
          link: {
            text: 'http://www.hairlife.ru/',
            href: 'http://www.hairlife.ru/'
          },
          info: [
            {tag: 'p', content: 'Портал www.hairlife.ru является крупнейшим в России интернет сообществом главной целью которого является объединение людей тем или иным образом, связанными с индустрией красоты.'}
          ]
        }
      +pageDevelopment(page)
