.book-sent
  padding-y 1.5rem
  &__book
    padding-y 1.5rem
    
  &__info
    padding-y 1.5rem
    display flex
    flex-direction column
    justify-content center
    margin-bottom 150px
    @media screen and (max-width point-s)
      margin-bottom 0
    p
      font-size 1.375rem
      line-height 2.25rem
  p&__note
    font-size font-m
    margin-top 1.5rem
    margin-bottom 0
  &__title
    font-weight bold
    font-size 3rem
    color #734d76
    text-transform uppercase
    line-height 3.5rem
    margin-bottom 2rem
