mixin caseHeader(settings)
  .case-header(class='case-header--'+settings.className)
    h1.case-header__title !{settings.title}
    .case-header__description !{settings.desc}
    .case-header__price Бюджет: 
      strong !{settings.price}
