.case-ctr-round
  display flex
  align-items center
  &__title
    font-weight bold
    margin-bottom (font-m/2)
    text-transform uppercase
  &__info
    margin-left (basePadding)
    text-align left
  &__old
    strong
      font-size font-xl
  &__new
    strong
      font-size (font-m*2)
      color #8c3052
  &__text
    font-size font-s
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    strong 
      font-size font-xl
      color #8c3052
