extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Стоматологическая клиника «Доктордент»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/whitedent.png',
          title: 'Стоматологическая клиника «Доктордент»',
          link: {
            text: 'http://www.clinikadoctordent.ru/',
            href: 'http://www.clinikadoctordent.ru/'
          }
        }
      +pageAdvertisment(page)
        p "Доктор Дент" в центре Санкт-Петербурга — это стоматология, оснащенная новейшим оборудованием для оказания всех видов стоматологической помощи.
        p
          strong Задача:
          |  привлечение первичных клиентов.
        p
          strong Решение:
        ol.list-numbered
          li Был создан новый адаптивный сайт, с оптимизированной структурой, удобной навигацией и современным дизайном;
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;

        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 2 раза
            |  с 450 до 900 посетителей в месяц.
          li Увеличение количества звонков пациентов из интернета 
            strong на 30%
            | .

        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['безболезненное лечение пульпита',{content:'2',type:'marked'}],
            ['стоматология под наркозом',{content:'5',type:'marked'}],
            ['стоматология на литейном',{content:'5',type:'marked'}],
            ['стоматологическая клиника центральный район',{content:'10',type:'marked'}],
            ['лечение зубов под общим наркозом цены',{content:'10',type:'marked'}],
          ]
        +resultsTable(table1)
