include footer-menu/footer-menu

footer.footer-main
  .container
    .content
      +grid()
        +grid__item({m:4, s:6 ,xs:12})
          include footer-contacts/footer-contacts
          include footer-buttons/footer-buttons
        +grid__item({m:4, s:6 ,xs:12})
          -
            const menuServices = {
              name: 'Наши услуги',
              list: [
                {name: 'Поисковая оптимизация', url:'/'},
                {name: 'Контекстная реклама', url:'/'},
                {name: 'Скрытая реклама и управление репутацией', url:'/'},
              ]
            }
            const menuConsult = {
              name: 'Консалтинг',
              list: [
                {name: 'Консультация', url:'/'},
                {name: 'Комплексный аудит интернет-маркетинга', url:'/'},
                {name: 'Аудит продающих качеств сайта', url:'/'},
              ]
            }

          +footerMenu(menuServices)
          +footerMenu(menuConsult)
        +grid__item({m:2,xs:6})
          -
            const menuAbout = {
              name: 'Компания',
              list: [
                {name: 'О нас', url:'/'},
                {name: 'Клиенты', url:'/'},
                {name: 'Рекомендации', url:'/'},
                {name: 'Портфолио', url:'/'},
              ]
            }
          +footerMenu(menuAbout)
        +grid__item({m:2,xs:6})
          -
            const menuSocials = {
              name: 'Мы в соц. сетях',
              list: [
                {name: 'Вконтакте', url:'/',postfix: 'vk'},
                {name: 'Facebook', url:'/',postfix: 'fb'}
              ],
              postfix: 'socials'
            }
          +footerMenu(menuSocials)
        +grid__item({m:12,xs:12})
          include footer-copy/footer-copy
