extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/portfolio/prodvizhenie-saytov-list
  .container
    .content.content--white
      h1 Продвижение сайтов
      p Предлагаем вашему вниманию наше портфолио по продвижению сайтов. Здесь представлены компании, которые 
        strong существенно расширили базу постоянных клиентов и увеличили число продаж
        |  за счёт применения технологий, разработанных специалистами агентства Медреклама.
      p Портфолио включает в себя полное описание задач, проведённых работ по каждому из проектов, а также отражает достигнутые результаты и динамику посещаемости сайта.
      p Хотим отметить, что представленные здесь проекты это только часть из того, над чем мы работали за годы нашей деятельности.
      .page-section
        h2.page-section__title Сайты клиник и медицинских центров
        +worksList(portfolioProdvizhenieSaytovList1)
      .page-section
        h2.page-section__title Индустрия красоты
        +worksList(portfolioProdvizhenieSaytovList2)
