+grid({justify: 'center'}).reasons
  +grid__item({m:8, s:10, xs: 12})
    h4.reasons__title 4 причины заказать аудит
    ul.list-marked
      li Вы хотите увеличить прибыль в клинике?
      li Несмотря на все усилия, реклама не приносит пациентов?
      li Вы хотите провести аудит работы ваших исполнителей?
      li Вы не понимаете как систематизировать рекламу и продажи?
