.partners
  display flex
  margin -(basePadding)
  flex-wrap wrap
  justify-content center
  margin-top (basePadding*1.5)
  &__item
    width 8.25rem
    margin basePadding
  &__image
    margin-bottom (basePadding/3)
    img
      border 1px solid #eaeaea
      margin-x auto
      width 100%
  &__desc
    font-size font-xs
    text-align center
