extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сеть стоматологических клиник «Стоматологический Центр Города»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/stomcenter.png',
          title: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
          link: {
            text: 'http://www.stomcenter.ru/',
            href: 'http://www.stomcenter.ru/'
          }
        }
      +pageAdvertisment(page)
        p Сеть клиник «Стоматологический Центр Города» входит в число крупнейших сетей клиник оказывает широкий спектр услуг в сфере стоматологии, придерживаясь самых высоких стандартов качества.
        p
          strong Задача:
          |  привлечение клиентов, увеличение прибыли клиники.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Регулярно ведутся работы по добавлению тематического контента;
          li На постоянной основе обновляются группы в социальных сетях;
          li Проводятся эффективные рекламные кампании в системах Яндекс.Директ, Google.Adwords;
          li Проводятся мероприятия по управлению репутацией в социальных медиа.
        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 6 раз
            |  с 3587 до 22115 посетителей в месяц.
          li Увеличение количества звонков клиентов из интернета в 
            strong 3 раза
            |  с 300 до более 1000 в месяц.
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['имплантация зубов',{content:'2',type:'marked'}],
            ['отбеливание зубов',{content:'2',type:'marked'}],
            ['протезирование зубов',{content:'2',type:'marked'}],
            ['зубные протезы',{content:'1',type:'marked'}],
            ['брекеты стоимость',{content:'2',type:'marked'}],
            ['реставрация зубов',{content:'2',type:'marked'}],
            ['стоматология спб',{content:'3',type:'marked'}],

          ]
        +resultsTable(table1)
