extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 О&nbsp;нас
      -
        const results = [
          {
            title: '12 лет',
            info: 'Опыт работы по продвижению клиник',
          },
          {
            title: 'более 50',
            info: 'Аудитов маркетинга клиник',
          },
          {
            title: 'более 100 000',
            info: 'Привлеченных пациентов',
          },
        ]

      .results
        ul.results__list
          each item in results
            .results__item.results__item--no-icon
              .results__title !{item.title}
              .results__info !{item.info}
      .about-me
        .about-me__photo
          img(src='/images/about-me-photo.jpg')
        .about-me__info
          p
            strong Здравствуйте.
            |  Меня зовут Виталий Заря&nbsp;&mdash; я&nbsp;маркетолог, бизнес-консультант, эксперт по&nbsp;продвижению клиник.
          p Чем я&nbsp;занимаюсь: помогаю руководителям клиник разобраться, как привлекать пациентов и&nbsp;сделать лучший сервис.
          p: strong Несколько фактов обо мне:
          ul.list-marked.list-marked--w-prev-par
            li Владелец агентства медицинского маркетинга &laquo;Medreclama&raquo;
            li Руковожу отделом маркетинга &laquo;Центра замещения волос&raquo;
            li Занимаюсь продвижением клиник уже 12&nbsp;лет
            li Выполнил аудит маркетинга около 50&nbsp;клиник
            li Автор низкобюджетных стратегий для продвижения клиник
            li Работал в&nbsp;крупнейшем агентстве интернет-маркетинга
            li Сертифицирован по&nbsp;маркетингу международным образовательным центром Эдукор
      h2 Развитие
      p Приобрел отличный 
        strong опыт
        |  в&nbsp;качестве менеджера проектов в&nbsp;
        strong крупнейшем агентстве интернет-маркетинга
        | , входящем в&nbsp;топ 10.
      p Так получилось, что первым моим клиентом стала клиника по&nbsp;
        a(href='/prodvizhenie-saytov/klinika-po-peresadke-volos') пересадке волос
        | . За&nbsp;короткий срок удалось вывести сайт клиники на&nbsp;
        strong первые места поисковых систем
        |  и&nbsp;получить стабильный канал привлечения пациентов.
      p В&nbsp;течении нескольких лет самостоятельно занимался комплексным интернет-маркетингом для 
        strong десятков клиник
        | .
      p.note.note--big Некоторые из&nbsp;моих клиентов выросли в&nbsp;сеть клиник, входящих в&nbsp;топ 5&nbsp;лучших частных клиник 
        span(style='white-space: nowrap') Санкт-Петербурга.
      p Когда сам я&nbsp;стал не&nbsp;справляться с&nbsp;объемом работ я&nbsp;собрал команду. Под моим началом сосредоточена группа специалистов: интернет-маркетологи, проектировщики, разработчики, дизайнеры, SEO-специалисты, специалисты по&nbsp;контекстной и&nbsp;таргетированной рекламе, копирайтеры, контент менеджеры и&nbsp;пр. Я&nbsp;не&nbsp;только консультирую по&nbsp;стратегии маркетинга, но&nbsp;и&nbsp;руковожу реализацией своих рекомендаций.
      p Далее по&nbsp;&laquo;сарафанному радио&raquo; ко&nbsp;мне стали обращаться владельцы других клиник. Таким образом 
        strong медицинский маркетинг
        |  стал основным направлением.
      p
        strong Фокусировка на&nbsp;медицинском бизнесе
        |  дала возможность собрать компетенции, базу знаний, опробовать на&nbsp;практике ряд подходов и&nbsp;стратегий.
      p Эти знания я&nbsp;использую при выполнении 
        a(href='/uslugi/kompleksnyj-audit-internet-marketinga-kliniki') аудитов
        |  и&nbsp;
        a(href='/uslugi/konsultatsiya-po-privlecheniyu-patsientov-v-kliniku') консультаций
        | , в&nbsp;своих книгах, обучающих курсах и&nbsp;вебинарах.
      h2 Обращайтесь к&nbsp;нам, если
      ul.list-marked
        li Не&nbsp;знаете, какая реклама даст для вас большую отдачу
        li Вас беспокоит падение прибыли клиники, вы&nbsp;волнуетесь о&nbsp;ее&nbsp;будущем
        li Несмотря на&nbsp;все усилия и&nbsp;смену подрядчиков, реклама не&nbsp;приносит пациентов
        li Несколько раз переделывали сайт, но&nbsp;результатов нет
        li Вы&nbsp;не&nbsp;понимаете как систематизировать рекламу и&nbsp;продажи в&nbsp;клинике
        li Вы&nbsp;вынуждены сокращать рекламные бюджети и&nbsp;увольнять персонал
        li Администраторы теряют звонки, плохо общаются с&nbsp;пациентами
      h2 Заявка на услугу
      include ../blocks/home-form/home-form
