extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Аудит продающих качеств сайта клиники

      .page-section
        p Главный показатель 
          strong эффективности сайта клиники
          |  — это его способность превращать посетителей в ваших пациентов. Около 75% сайтов клиник приносят 
          strong менее 5 звонков в день
          | . Среди них много красивых, современных и дорогих. Но самое важное то, что эти сайты не эффективны.
        p Вы хотите быть среди тех клиник, для которых сайт уже стал надежным каналом привлечения пациентов?
        p С нашей помощью вы наконец-то решите эту задачу.
        +note
          | В ходе аудита будут найдены 
          strong ошибки, влияющие на эффективность сайта
          | . Даны рекомендации по изменению сайта, которые могут 
          strong повысить отдачу от рекламы на десятки процентов.
      .page-section
        h2.page-section__title В результате аудита вы получите:
        ul.list-marked
          li Выявление проблем и слабых точек в интернет-маркетинге клиники
          li Целостная объективная картина текущего положения работы рекламы
          li Новые идеи и возможности для развития клиники
          li Рекомендации по точкам роста первичной записи
          li План развития рекламной стратегии клиники
      .page-section
        -
          let banner = {
            counter:{year:2018, month:8, day:0},
            priceTitle: 'аудита',
            price: '15000 руб.',
            date: '31 августа',
            buttonTitle: 'аудит'
          }
        +bannerCounter(banner)
      .page-section
        h2.page-section__title Аудит включает:
        ul.list-marked
          li Анализ целей и задач целевой аудитории сайта 
            br
            | У каждого пациента, который приходит на сайт есть свой задача. Мы проверим, помогает ли сайт решить данную задачу.
          li Юзабилити аудит (анализ оптимальных сценариев использования сайта, удобства логической структуры, навигации) 
            br
            | При решении своей задачи пациент не должен сталкиваться с препятствиями. Должен легко находить нужную информацию. Мы проверим, удобен ли сайт для пациента.
          li Анализ маркетинговой составляющей сайта (дизайн, структура и содержание текстов) 
            br
            | Главная задача сайта – убедить пациента в том, что в клинике можно доверять и что его проблему решат наилучшим способом (качественно, безопасно и по возможности безболезненно). Мы проверим, соответствует ли сайт данному требованию.
          li Предоставление отчета о найденных ошибках и рекомендаций по их исправлению
          li Финальная консультация с обсуждением результатов (до 2х часов) + аудиозапись
        +note
          | Аудит 
          strong сэкономит
          |  вам огромное количество средств, вкладываемых в рекламу.
      .page-section
        h2.page-section__title Как проходит аудит?
        p Вам нужно будет ответить не несколько вопросов и предоставить доступ к статистике посещения сайта.
        p Срок выполнения - 7 рабочих дней.
      .page-section
        h2.page-section__title Кто выполняет аудит?
        p
          strong Заря Виталий
          |  - эксперт по интернет-маркетингу в сфере медицины и индустрии красоты, консультант, практикующий маркетолог.
      .page-section
        h2.page-section__title Откуда у меня опыт?
        +grid({justify: 'center',align:'center'})
          +grid__item({m:3, s: 6, xs:8})
            img(src='/images/about-me-photo.jpg' alt='Заря Виталий' title='Заря Виталий')
          +grid__item({m:9, s: 12, xs:12})
            p Заря Виталий&nbsp;&mdash; эксперт по&nbsp;продвижению клиник, бизнес консультант, практикующий маркетолог.
            ul.list-marked
              li Владелец агентства медицинского маркетинга 
                a(href='/') &laquo;Medreclama&raquo;
              li Руковожу отделом маркетинга &laquo;Центра замещения волос&raquo;
              li Занимаюсь продвижением клиник уже 12&nbsp;лет
              li Выполнил аудит маркетинга около 50&nbsp;клиник
              li Автор низкобюджетных стратегий для продвижения клиник
              li Работал в&nbsp;крупнейшем агентстве интернет-маркетинга
              li Сертифицирован по&nbsp;маркетингу международным образовательным центром Эдукор
            +grid({justify: 'center'})
              a(href='/form/23-audit-prodayushchih-kachestv_popup?tmpl=component').btn.btn--center Заказать аудит
