extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Работаем на результат
      section.home-section
        include ../blocks/results/results
      section.home-section
        include ../blocks/about-me/about-me
      section.home-section
        h2 Как мы это делаем?
        include ../blocks/home-process/home-process
      section.home-section
        h2 Почему мы?
        include ../blocks/why-we/why-we
        //- h2 Почему мы?
        //- include ../blocks/why-we-2/why-we
        //- +grid({justify:'center'})
        //-   +grid__item({m:10, xs:12})
        //-     h2 Почему мы?
        //-     include ../blocks/why-we-2/why-we
      section.home-section
        h2 Узнайте секреты привлечения пациентов
        h3.home-subtitle Подписывайтесь на наши группы
        +grid
          +grid__item({m:4,s:6,xs:12})
            script(type="text/javascript" src="//vk.com/js/api/openapi.js?151")
            #vk_groups
            script(type="text/javascript")
              | VK.Widgets.Group("vk_groups", {mode: 3, width: 304, height: 500}, 86134177);
          +grid__item({m:4,s:6,xs:12})
            .fb-page(data-href="https://www.facebook.com/medreclama/"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
              blockquote( cite="https://www.facebook.com/medreclama/" class="fb-xfbml-parse-ignore")
                a( href="https://www.facebook.com/medreclama/") Маркетинг в медицине


          +grid__item({m:4,s:6,xs:12})
            include ../blocks/youtube-module/youtube-module
      section.home-section
        h2 О нас говорят
        include ../blocks/home-feedback/home-feedback
        include ../blocks/home-feedback/home-feedback-gallery/home-feedback-gallery
      section.home-section
        h2 Партнеры и инструменты
        include ../blocks/partners/partners
      section.home-section
        h2 Заявка на услугу
        include ../blocks/home-form/home-form
