extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Консультация по привлечению пациентов в&nbsp;клинику

      .page-section
        p Включает консультацию 
          strong Заря Виталием
          |  по стратегии и тактике привлечения пациентов в интернете с учетом профиля клиники и позиционирования + аудио запись консультации.
      .page-section
        h2.page-section__title Если вы занимаетесь развитием частной клиники, то перед вам встает множество вопросов:
        ul.list-marked
          li Как увеличить эффективность сайта?
          li Какие методы рекламы в интернете более эффективны?
          li Как привлечь пациентов в интернете?
          li Как правильно спланировать рекламную кампанию?
          li Как оценивать работу подрядчиков?
          li Стоит ли заниматься SEO и SMM для клиники?
      .page-section
        -
          let banner = {
            counter:{year:2018, month:8, day:0},
            priceTitle: 'консультации',
            price: '1 час - 7500 руб',
            date: '31 августа',
            buttonTitle: 'консультацию'
          }
        +bannerCounter(banner)
      .page-section
        h2.page-section__title В результате консультации вы получите:
        ul.list-marked
          li экспертные знания, проверенные на множестве клиник
          li выявленные проблемы в работе маркетинга клиники
          li практические рекомендации, готовые к применению
          li новые идеи для развития клиники
        +note
          | Моя консультация 
          strong сэкономит вам
          |  огромное количество времени, усилий и сотни тысяч рублей на изучение рабочих методов привлечения пациентов.

      .page-section
        h2.page-section__title Как проходит консультация?
        ul.list-marked
          li В форме личной встречи на территории заказчика
          li Дистанционно по Skype
        p Перед консультацией вы получаете опросник с целью предварительного ознакомления эксперта с вашим бизнесом и его задачами, а также для конкретизации цели консультации.
      .page-section
        h2.page-section__title Откуда у меня опыт?
        +grid({justify: 'center',align:'center'})
          +grid__item({m:3, s: 6, xs:8})
            img(src='/images/about-me-photo.jpg' alt='Заря Виталий' title='Заря Виталий')
          +grid__item({m:9, s: 12, xs:12})
            p Заря Виталий&nbsp;&mdash; эксперт по&nbsp;продвижению клиник, бизнес консультант, практикующий маркетолог.
            ul.list-marked
              li Владелец агентства медицинского маркетинга 
                a(href='/') &laquo;Medreclama&raquo;
              li Руковожу отделом маркетинга &laquo;Центра замещения волос&raquo;
              li Занимаюсь продвижением клиник уже 12&nbsp;лет
              li Выполнил аудит маркетинга около 50&nbsp;клиник
              li Автор низкобюджетных стратегий для продвижения клиник
              li Работал в&nbsp;крупнейшем агентстве интернет-маркетинга
              li Сертифицирован по&nbsp;маркетингу международным образовательным центром Эдукор
            +grid({justify: 'center'})
              a(href='/form/23-audit-prodayushchih-kachestv_popup?tmpl=component').btn.btn--center Заказать аудит
