extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Контакты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Контакты
      +grid({paddingy:true})
        +grid__item({s:6,xs:12})
          | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adg2ovKulOuGAZ1inxiVhNAMdPBGresnD&amp;height=366&amp;lang=ru_RU&amp;scroll=true"></script>
        +grid__item({s:6,xs:12})
          p г. Санкт-Петербург
          p Петергофское шоссе 74 к.4, офис 210
          p Тел: +7 (812) 385-74-64
          p E-mail: reklama@krasiviemedia.ru
        
