extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Маркетинг в клинике. С чего начать?
      img(src='/images/webinar/marketing-v-klinike-s-chego-nachat.jpg' alt='Маркетинг в клинике. С чего начать?' title='Маркетинг в клинике. С чего начать?')
      p Маркетинг&nbsp;&mdash; это удержание и&nbsp;приобретение клиентов. Почему&nbsp;же в&nbsp;клиниках так часто совсем не&nbsp;занимаются маркетингом? Не&nbsp;по&nbsp;карману специалист, скажете вы. Да, не&nbsp;каждая клиника может себе позволить отдельного работника, занимающегося маркетингом. Но! Вы, как&nbsp;руководитель, просто обязаны узнавать новые тенденции маркетинга в&nbsp;сфере медицины. 90&nbsp;% ваших конкурентов совсем не&nbsp;занимается маркетингом, а&nbsp;это значит, что применив стратегии удержания и&nbsp;привлечения пациентов в&nbsp;вашей клинике, вы&nbsp;сможете смотреть вперед, не&nbsp;оглядываясь на&nbsp;конкурентов.
      p Что вы&nbsp;узнаете на&nbsp;вебинаре:
      ul.list-marked.list-marked--w-prev-par
        li Зачем клиникам необходим маркетинг?
        li Самые эффективные инструменты маркетинга.
        li Как начать внедрять маркетинговые стратегии уже сегодня?
        li Посетив данный вебинар, вы&nbsp;получите четкое видение того, что должно происходить в&nbsp;клинике, в&nbsp;плане маркетинга.
        li Узнаете новые стратегии, инструкции и&nbsp;приемы!
      +grid({'justify':'center'})
        +grid__item({m:6, s:8, xs:12})
          include /blocks/form-webinar/form-webinar 
