extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Портфолио

      p «Лучше один раз увидеть, чем сто раз услышать» гласит народная мудрость.
      p Предлагаем вам ознакомиться с некоторыми примерами того, что мы делаем и каких результатов достигаем.
      p
        a(href='/portfolio/prodvizhenie-saytov') Результаты рекламных кампаний
      p Мы стремимся подобрать наиболее эффективные рекламные инструменты для достижения целей клиентов. Большой опыт в продвижении сайтов помогает нам добиться серьезных результатов в кратчайшие сроки.
      p
        a(href='/portfolio/razrabotka-saytov') Разработка сайтов
      p За время работы нашего агентства было создано множество сайтов. В каждый из них мы вкладывали душу. Вот несколько примеров скрупулезной работы наших дизайнеров и программистов.
