extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Правильный сайт, реклама в&nbsp;интернете&nbsp;&mdash; как способ увеличить доходы клиники вдвое!
      img(src='/images/webinar/pravilnyj-sajt-reklama-v-internete.jpg' alt='Маркетинг в клинике. С чего начать?' title='Маркетинг в клинике. С чего начать?')
      p На&nbsp;данном вебинаре мы&nbsp;рассмотрим , как сделать сайт клиники, который будет приводить к&nbsp;вам клиентов, а&nbsp;не&nbsp;просто болтаться в&nbsp;интернете.
      +grid({'justify':'center'})
        +grid__item({m:6, s:8, xs:12})
          include /blocks/form-webinar/form-webinar 
