extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Отзывы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Отзывы
      -
        let imgPath = '/images/feedback/'
        let list1 = [
          {
            logo: {
              image: imgPath+'1-clinic.png',
              title: 'Многопрофильная клиника «Первая семейная клиника Петербурга»'
            },
            scan: {
              big: imgPath+'1-clinic-big.jpg',
              small: imgPath+'1-clinic-small.jpg'
            },
            author: 'Трейгер А.З.',
            title: 'Генеральный директор Холдинга "Первая семейная клиника Петербурга"',
            body: [
              {tag: 'p', content: 'Наше сотрудничество с агенством "Медреклама" заключалось в выполнении комплексного аудита сайта клиники, аудита репутации в интернете, а также аудит компаний по его продвижению. Несмотря на небольшой объем поставленных перед агенством задач, его сотрудники успели зарекомендовать себя как грамотное и эффективное агенство, вникающие в тонкости бизнеса клиента, как в свои собственные.'},
              {tag: 'p', content: 'Нас приятно удивило, что помимо оговоренных задач, агенство по собственной инициативе разработало прототип модернизации нашего сайта и предложило его нам. Мы очень ценим такой подход к работе.'},
            ]
          },
          {
            logo: {
              image: imgPath+'mcg.jpg',
              title: 'Многопрофильная клиника «Медицинский Центр Города»'
            },
            scan: {
              big: imgPath+'mcg-big.png',
              small: imgPath+'mcg-small.png'
            },
            author: 'Дмитрий Метелев',
            title: 'Генеральный директор ООО "МЦГ"',
            body: [
              {tag: 'p', content: 'Многопрофильная клиника "Медицинский центр города" выражает искреннюю благодарность компании "Медреклама" за плодотворное сотрудничество по созданию, продвижению и оптимизацию нашего сайта, а также по проведению рекламных кампаний в интернете, в частности проведение контекстной рекламы и ведение скрытой рекламы на сайтах отзывах и форумах, создавая и управляя репутацией нашей клиники.'},
              {tag: 'p', content: 'Благодаря работе компании "Медреклама" наш сайт уверенно продвинулся в топовые позиции по запросам в поисковых системах, даже учитывая высокую конкуренцию по нашему направлению. А также хочется отметить оперативность в решении вопросов и четкость выдаваемых рекомендаций.'},
              {tag: 'p', content: 'Надеемся на дальнейшее столь успешное сотрудничество!'},
            ]
          },
          {
            logo: {
              image: imgPath+'scg.jpg',
              title: 'Сеть стоматологических клиник «Стоматологический Центр Города»'
            },
            scan: {
              big: imgPath+'scg-big.png',
              small: imgPath+'scg-small.png'
            },
            author: 'Сергей Лобанов',
            title: 'Генеральный директор ООО «СЦГ»',
            body: [
              {tag: 'p', content: 'Сотрудничество с Вашей компанией началось в 2008 году. Первый этап нашей работы заключался в создании и формировании имиджа и узнавания нашей компании на просторах интернета. Вами была проведена титаническая работа по созданию сайта, наполнению его максимально необходимым контентом и наращивание позиций сайта в поисковых системах. Главная цель на тот момент была - увеличение трафика на сайт за счет лидирующих позиций в поисковых системах.'},
              {tag: 'p', content: 'Следующий этап заключался в более узкой работе над повышением лояльности и обратной связи с клиентами. Цель - увеличение конверсии из посетителей сайта в реальных пациентов наших клиник, продажа акционных предложений. Вами была проведена работа над рестайлингом сайта, чтобы он стал еще более удобен и привлекателен для наших посетителей, был настроен механизм отслеживания эффективности проводимых кампаний для проведения грамотной аналитики.'},
            ],
            hidden: [
              {tag: 'p', content: 'Используются эффективные инструменты интернет рекламы такие как продвижение сайта, маркетинг в социальных медиа, контекстная реклама, скрытая реклама. Особо хочется отметить индивидуальный подход к каждой нашей задаче. При общении с вами начинается теряться ощущение отношений клиент-подрядчик, общение ведется как с коллегами, с которыми работа идет в рамках единой компании, настолько велика ваша вовлеченность в решении наших задач.'},
              {tag: 'p', content: 'Спасибо Вам за Вашу работу и, надеюсь, на продолжение сотрудничества и борьбы за лидирующие позиции на высококонкурентном рынке медицинских услуг. Желаем Вам успехов и финансового благополучия.'},
            ]
          },
          {
            logo: {
              image: imgPath+'tradicii.jpg',
              title: 'Медицинский центр «Традиции»'
            },
            scan: {
              big: imgPath+'tradicii-big.jpg',
              small: imgPath+'tradicii-small.jpg'
            },
            author: 'Дорофеев Р.С.',
            title: 'Генеральный директор ООО "Традиции"',
            body: [
              {tag: 'p', content: 'Выражаю благодарность агентству "Медреклама" за плодотворное сотрудничество и квалифицированно выполненные услуги в сфере интернет-маркетинга. Особенно хочется отметить высокий уровень профессионализма и оперативность в работе. Задача выполнена в срок, поставленные цели достигнуты, результат превзошел ожидания.'},
            ]
          },
          {
            logo: {
              image: imgPath+'stomadeus.png',
              title: 'Сеть стоматологических клиник «Стомадеус»'
            },
            scan: {
              big: imgPath+'stomadeus-big.png',
              small: imgPath+'stomadeus-small.png'
            },
            author: 'Скворцова Т.В.',
            title: 'Управляющая сетью клиник',
            body: [
              {tag: 'p', content: 'Мы довольно давно обзавелись собственным сайтом и уже успели несколько раз его переделать, но эффекта от его работы было мало. Фрилансеры, которые занимались продвижением сайта не выполняли своих обязательств.'},
              {tag: 'p', content: 'Мы решили, что больше терять времени мы не можем. Начав поиск компании по продвижению сайтов мы остановились на агентстве «Медреклама», так как у них уже был опыт работы с медицинской сферой.'},
            ],
            hidden: [
              {tag: 'p', content: 'Нам очень быстро переделали сайт, чему мы очень рады, так как теперь он имеет современный вид. Параллельно велась активная работа по созданию хорошей, устойчивой репутации в Интернете. Работы по продвижению сайта не сразу, но дали свой эффект. И мы этому особенно рады после года разочарований с фрилансерами. Посещаемость сайта в результате работы агентства постоянно росла и за год увеличилась более чем в 3 раза. А благодаря использованию скрытой рекламы эффективность наших вложений в другие виды рекламы существенно возросла, что не может не радовать.'},
              {tag: 'p', content: 'Значительно выросло и количество звонков. Надеемся на дальнейшее плодотворное сотрудничество.'},
            ]
          },
          {
            logo: {
              image: imgPath+'whitedent.png',
              title: 'Стоматологическая клиника «Вайт-Дент»'
            },
            scan: {
              big: imgPath+'whitedent-big.png',
              small: imgPath+'whitedent-small.png'
            },
            author: 'Моисейчиков Андрей',
            title: 'Генеральный директор',
            body: [
              {tag: 'p', content: 'Стоматологическая клиника «Вайт Дент» сотрудничает с агентством интернет-рекламы «Медреклама» около полу года.'},
              {tag: 'p', content: 'Работать с ребятами просто приятно. Работают активно, профессионально, решают поставленные задачи без промедления. Результаты работы стали видны практически через месяц нашего сотрудничества. Повысилась узнаваемость компании. После грамотной оптимизации сайта возросло количество посещений сайта в 2,5 раза. Увеличилось количество звонков в клинику в 2 раза, и, практически, 80% процентов позвонивших, стали нашими клиентами.'},
              {tag: 'p', content: 'Сотрудники компании работают профессионально, не понаслышке, а на собственных ощущениях. Они не однократно посещали нашу клинику, знакомились с врачами и администраторами.'},
            ],
            hidden: [
              {tag: 'p', content: 'С первого дня работы за нами был закреплен менеджер – Волжина Екатерина, которой, я в свою очередь, очень признателен за оперативность пунктуальность и компетентность. С менеджером мы общаемся регулярно, с её помощью вносим изменения на сайт, получаем от неё рекомендации по улучшению работы сайта и его продвижению. Агентство грамотно подходит к интернет-маркетингу и их работа не заканчивается только работой с сайтом. Ребята продвигают нас в социальных сетях, управляют репутацией и делают это весьма профессионально, что говорит о немалом опыте в рекламировании на рынке медицинских услуг и нацеленность на результат. Размещают грамотно контекстную рекламу, экономя бюджет нашей клиники.'},
            ]
          },
          {
            logo: {
              image: imgPath+'aurmed.jpg',
              title: 'Аюрведический медицинский центр Shankara'
            },
            scan: {
              big: imgPath+'aurmed-big.png',
              small: imgPath+'aurmed-small.png'
            },
            author: 'Ираида Рослякова',
            title: 'Клиника остеопатии, неврологии, гомеопатии',
            body: [
              {tag: 'p', content: 'В результате проведенных работ, значительно укрепился статус нашей компании, и повысилось узнаваемость наших услуг.'},
              {tag: 'p', content: 'Хотелось бы выразить свою благодарность коллективу компании «Медреклама» за ответственность, оперативность, внимательность, а также своевременное реагирование на наши поручения. Веб-сайт, разработанный компанией «Медреклама» продолжает эффективно представлять услуги нашей компании в Интернете.'},
              {tag: 'p', content: 'Желаем компании «Медреклама» дальнейших творческих успехов!'},
            ]
          },
        ]

        let list2 = [
          {
            logo: {
              image: imgPath+'hairdesign.png',
              title: 'Салон красоты «Центр Дизайна Волос»'
            },
            author: 'Ольга Лейтес',
            title: 'Генеральный директор Центра Дизайна Волос',
            body: [
              {tag: 'p', content: 'Специализированный салон красоты «Центр дизайна волос» открылся в 2002 году. Тогда же и был создан сайт компании. На заре развития нашего бизнеса мы не придавали большого значения Интернету как источнику потенциальных клиентов. И так продолжалось 3 года, пока мы не начали сотрудничать с агентством «Медреклама».'},
            ],
            hidden: [
              {tag: 'p', content: 'В течение этих трех лет весь рекламный бюджет, который составлял существенную часть оборота тогдашнего медленнорастущего бизнеса, уходил на рекламу в печатных СМИ, которая не только не была рентабельна, а по настоящему убыточна. Агентство помогло нам полностью пересмотреть концепцию сайта (дизайн и контент), который потом дополнился Интернет-магазином.'},
              {tag: 'p', content: 'Можно сказать, что бизнес развивался вместе с сайтом и благодаря сайту. По рекомендации и под управлением сотрудников агентства было создано несколько сайтов-спутников. Постоянно проводится работа с ключевыми словами, которые тщательно отбираются и анализируются по каждой тематике. Уже давно мы отказываем всем рекламным агентствам, предлагающим продвигаться в печатных СМИ. Эта реклама продолжает быть неэффективной (много раз еще в этом убеждались). Ничто не работает так, как правильно построенное продвижение в Интернете.'},
              {tag: 'p', content: 'Радует внимательное отношение к нуждам клиента, постоянное отслеживание результатов. Часто менеджеры агентства сами предлагают корректировки в продвижении сайта на основании ситуации на рынке, действий конкурентов и т.п. Большую роль сыграла кампания по скрытой рекламе и управлению репутацией. Грамотно построенные фразы, формулировки действительно обеспечивают более плотный поток уже подготовленных и лояльных клиентов.'},
              {tag: 'p', content: 'В настоящее время к нам постоянно поступают предложения по продвижению сайта от других компаний. Но я четко знаю, что такого персонализированного подхода я не получу больше нигде. По сути, мне помогают развивать бизнес. А не просто дублируют его развитие в Интернет-пространстве.'},
              {tag: 'p', content: 'У нас много планов по развитию и продвижению. Огромная благодарность сотрудникам агентства и лично его руководителю.'},
              {tag: 'p', content: 'Хочу отметить и то, что финансовые затраты нашей клиники на интернет рекламу возросли незначительно, а польза от сотрудничества весьма ощутима, что ещё раз подчёркивает профессионализм сотрудников агентства. Ежемесячно мы получаем отчёты о проделанной работе, что тоже немаловажно и даёт возможность вносить корректировки в дальнейшую работу. Во всём просматривается нацеленность на результат.'},
              {tag: 'p', content: 'Хочу от своего имени и от имени коллектива стоматологической клиники «Вайт Дент» поблагодарить сотрудников Агентства интернет-рекламы «Медреклама» за плодотворное сотрудничество. Надеюсь, что оно продолжиться в далmнейшем.'},
            ]
          },
          {
            logo: {
              image: imgPath+'volosy24.jpg',
              title: 'Интернет-магазин волос для наращивания «Волосы24»'
            },
            author: 'Наталья Ворожбиева',
            title: 'Управляющий магазином Волосы24',
            body: [
              {tag: 'p', content: 'Наша компания ООО «Волосы 24» - молодая, но стремительно развивающаяся, на сегодняшний день мы работаем на рынке индустрии красоты уже около 5 лет, и этому мы благодарны компании «Медреклама».'},
            ],
            hidden: [
              {tag: 'p', content: 'Когда мы начали сотрудничество с рекламным агентством 3 года назад мы только начинали свое развитие и продвижение в сети Интернет, имели скромный и не очень привлекательный сайт, небольшую посещаемость, мы только начали нарабатывать клиентскую базу. Нам повезло, что в этот момент мы нашли хороших подрядчиков - агентство «Медреклама».'},
              {tag: 'p', content: 'Благодаря профессионализму сотрудников компании мы разработали новый, красивый сайт, соответствующий нашей индустрии. При создании сайта учли все наши пожелания по дизайну и наполнению, предложив нам оптимальный вариант преподнесения информации для наших клиентов, чтобы все было понятно, просто и доступно всей нашей аудитории. В итоге сайт получился ярким, удобным и функциональным.'},
              {tag: 'p', content: 'Спасибо вам за терпение и внимание, которое вы проявили при работе с нами, потому что наша специализация очень узкая и имеет множество особенностей при развитии и продвижении, и вы досконально изучили наш рынок и выбрали для нас оптимальный вариант продвижения. И с вами мы уже в начале нашей работы начали получать хорошие результаты.'},
              {tag: 'p', content: 'Для нашей компании, которая имеет ряд преимуществ и особенностей, отличающих нас от компаний-конкурентов в нашей индустрии, было важно, чтобы это не осталось незамеченным и было донесено до наших потенциальных клиентов. Мы стремились к развитию и узнаваемости нашего бренда, к завоеванию положительной репутации среди клиентов, и сегодня мы можем с гордостью сказать, что нам это удается.'},
              {tag: 'p', content: 'Если до сотрудничества с компанией «Медреклама» у нас было 5-7 розничных клиентов в неделю, и 2-4 оптовых клиента в месяц, то сегодня их количеств выросло в несколько раз. Сегодня в наш магазин «Волосы 24» ежедневно приходят розничные клиенты, к нам обращаются, звонят и приезжают оптовые клиенты. Благодаря рекламному агентству мы можем в настоящее время привлечь внимание потенциальных клиентов, заинтересовав их своими преимуществами, качественным товаром, оперативным обслуживанием и честной работой, что очень ценят наши клиенты!'},
              {tag: 'p', content: 'Спасибо всем сотрудникам рекламного агентства «Медреклама» за профессионализм, качественную работу, индивидуальный подход и внимание, нам очень приятно и сотрудничать с Вами, и это приносит большие результаты в нашей работе.'},
            ]
          },
        ]
      .page-section
        h2.page-section__title Медицина и здоровье
        +feedbackList(list1)
      .page-section
        h2.page-section__title Индустрия красоты
        +feedbackList(list2)
