extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Портфолио

      p «Лучше один раз увидеть, чем сто раз услышать» гласит народная мудрость.
      p Предлагаем вам ознакомиться с некоторыми примерами того, что мы делаем и каких результатов достигаем.
      p
        a(href='/') Результаты рекламных кампаний
      p Мы стремимся подобрать наиболее эффективные рекламные инструменты для достижения целей клиентов. Большой опыт в продвижении сайтов помогает нам добиться серьезных результатов в кратчайшие сроки.
      p
        a(href='/') Разработка сайтов
      p
        a(href='#') Разработка сайтов
      p
        a(href='#').btn Заказать аудит
      p За время работы нашего агентства было создано множество сайтов. В каждый из них мы вкладывали душу. Вот несколько примеров скрупулезной работы наших дизайнеров и программистов.
      h1 О нас
      p Агентство "Медреклама" уже более 5 лет предоставляет свои услуги на российском рынке интернет-рекламы.
      p За это время компания накопила серьезный опыт по продвижению и рекламному сопровождению компаний в сети Интернет.
      p Глубокое изучение бизнеса заказчика, потребностей его клиентов, использование эффективных рекламных инструментах, а также ценный опыт ведения успешных рекламных проектов — все это позволяет нам создавать эффективные кампании.
      h2 Ключевые аспекты работы нашего агентства
      h3 Комплексный подход на этапе планирования кампании
      p Создание расчетов на основании возможностей и запросов клиента. На этапе планирования отдается предпочтение исключительно проверенным, эффективным ресурсам на базе успешно финишировавших рекламных кампаний.
      h3 Работа исключительно на результат
      h4 Глубокая аналитика кампании
      p В ходе рекламной кампании производится сбор и анализ бизнес-показателей (заявки, звонки, продажи), разрабатывается стратегия продвижения, позволяющая достичь ожидаемых целей.
      h3 Глубокая аналитика кампании
      p Каждую неделю производится отслеживание итогов рекламной кампании, используя независимую статистику Google Analytics. В зависимости от того, какую эффективность показал каждый инструмент, производится оптимизация рекламной кампании.
      h3 Прозрачная отчетность
      p Мы открываем доступ к статистическим данным по SEO-продвижению, контекстной рекламе, а также к Яндекс.Метрике и Google Analytics. Вы имеете возможность в режиме реального времени следить за ходом действующей кампании. Дважды в неделю мы передаем вам подробный отчет о ходе вашей рекламной кампании, который содержит анализ ее эффективности, а также предложения по ее увеличению.
      p Мы открываем доступ к статистическим данным по SEO-продвижению, контекстной рекламе, а также к Яндекс.Метрике и Google Analytics. Вы имеете возможность в режиме реального времени следить за ходом действующей кампании. Дважды в неделю мы передаем вам подробный отчет о ходе вашей рекламной кампании, который содержит анализ ее эффективности, а также предложения по ее увеличению.
      h2 Если вы занимаетесь развитием частной клиники, то перед вам встает множество вопросов:
      ul.list-marked
        li Как увеличить эффективность сайта?
        li Какие методы рекламы в интернете более эффективны?
        li Как привлечь пациентов в интернете?
        li Как правильно спланировать рекламную кампанию?
        li Как оценивать работу подрядчиков?
        li Стоит ли заниматься SEO и SMM для клиники?
      ol.list-numbered
        li Как увеличить эффективность сайта?
        li Какие методы рекламы в интернете более эффективны?
        li Как привлечь пациентов в интернете?
        li Как правильно спланировать рекламную кампанию?
        li Как оценивать работу подрядчиков?
      h1 Услуги

      p “Медреклама” — агентство, создающее эффективную рекламу. Все наши усилия направлены на получение требуемого результата ваших маркетинговых коммуникаций в Сети.
      p В рамках комплекса рекламной компании в Интернете мы предлагаем нашим клиентам:
      ul.list-marked
        li
          strong Поисковая оптимизация
          |  (Search Engine Optimization, SEO) - представляет собой комплекс мероприятий, направленный улучшение позиций сайта в результатах выдачи поисковых систем и увеличение его посещаемости целевой аудиторией.
        li
          strong Контекстная реклама
          | : Яндекс Директ, Google AdWords. Данный вид рекламы предполагает показ текстовых объявлений посетителю, когда он заинтересован в соответствующих товарах или услугах, запрашивая информацию в поисковой системе Google, Яндекс, либо переходя на тематический сайт.
        li
          strong Управление репутацией
          | . Управление репутацией – это уникальный инструмент скрытого воздействия в простой и доступной форме, в результате которого происходит формирования мнения целевой аудитории.
        li
          strong Улучшение продающих свойств сайта
          | . Данная услуга заключается в анализе сайта и выработке рекомендаций, которые ведут к увеличению продаж при том же количестве посетителей без дополнительных расходов на рекламу.

      p Для вас мы подготовим индивидуальную стратегию продвижения бизнеса в Сети, предложив вашему вниманию комплекс эффективных инструментов.
