extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      +breadcrumbs({'parents':['Главная', 'Услуги'],'current':'Поисковая оптимизация'})
      h1 Управление репутацией
      .page-section
        p Управление репутацией – это уникальный инструмент формирования мнения аудитории.
      .page-section
        h2.page-section__title Если вы стремитесь:
        ul.list-marked
          li защитить свой бизнес от разрушающего негативного имиджа;
          li получить устойчивое конкурентное преимущество за счет недостижимого для конкурентов доверия со стороны клиентов;
          li увеличить отдачу от других видов рекламы;
        p То управление репутацией поможет вам решить эти задачи.
      .page-section
        h2.page-section__title Почему для компании очень важно управлять репутацией в интернете?
        +grid({paddingy: true})
          +grid__item({m:4,xs:12})
            +figureDiagram({count:79, text:'людей перед покупкой <strong>выбирают товары или услуги в Интернете</strong>', id:'circles-1'})
          +grid__item({m:4,xs:12})
            +figureDiagram({count:65, text:'клиентов перед принятием решения о выборе продовца товаров или услуг <strong>ищут отзывы в интернете</strong>', id:'circles-2'})
          +grid__item({m:4,xs:12})
            +figureDiagram({count:90, text:'клиентов <strong>доверяют отзывам</strong>, найденным в интернете', id:'circles-3'})
      .page-section
        h2.page-section__title Что вы получите в результате кампании по управлению репутацией?
        ul.list-marked
          li Повышение узнаваемости компании и ее сотрудников;
          li Повышение информированности целевой аудитории и широкой общественности в сети интернет;
          li Положительный образ компании, обеспечение интереса аудитории к компании, ее товарам и услугам;
          li Устранение негативных отзывов и комментариев;
      .page-section
        h2.page-section__title Цикл работ по управлению репутацией
        ul.list-marked
          li
            strong Мониторинг и аналитика
            | <br>Мониторинг выдачи поисковых систем по «репутационным»* запросам, анализ результатов выдачи, разработка плана мероприятий
          li
            strong Работа с отрицательными отзывами
            | <br>Разбавление отрицательных отзывов положительными
          li
            strong Работа с положительными отзывами
            | <br>Размещение положительных отзывов, вытеснение из выдачи поисковых систем по «репутационным» запросам негативных отзывов
        .clarification  «репутационные» запросы – это запросы, которые обычно используются для поиска информации о компании и отзывах о ней. Например, различные варианты названия компании или варианты названия компании + «отзывы».
        p Во время проведения мероприятий Вы сможете получить необходимые консультации наших специалистов по интересующим Вас аспектам скрытой рекламы совершенно бесплатно. Кроме того, ежемесячно Вам будет предоставляться отчет о проведении рекламной кампании.
      .page-section
        a(href='').btn.btn--primary Заказать управление репутацией
      .page-section
        include ../data/upravlenie-reputatsiey-results.pug
        +resultsCarousel(upravlenieReputatsieyResults)
      .page-section
        h2.page-section__title Стоимость
        include ../data/upravlenie-reputatsiey-prices.pug
        +tablePrices(prices1)
      .page-section
        h2.page-section__title Выполняемые работы и стоимость
        +tablePrices(prices2)
        .clarification  "Репутационные" запросы - это ключевые слова, использующиеся с целью узнать мнение клиентов о компании. Например: "название компании" + "отзывы"
      .page-section
        h2.page-section__title Наши преимущества
        ul.list-marked
          li
            strong Увеличиваем доверие пациентов используя базу "авторитетных" аккаунтов
          li
            strong Добиваемся отличных результатов за счет наличия списка популярных и эффективных сайтов для размещения отзывов.
          li
            strong Контролируем проведение кампании
            | <br>Наличие высококвалифицированных специалистов и широкие маркетинговые возможности - позволяют нам контролировать прохождение кампании на всех этапах.
          li
            strong Отвечаем за успех вашей кампании от начала и до конца
            | <br>Перед проведением кампании мы проводим мониторинг, анализируем сложившуюся ситуацию и на основе этих данных планируем площадки для размещения.
