extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Услуги

      p “Медреклама” — агентство, создающее эффективную рекламу. Все наши усилия направлены на получение требуемого результата ваших маркетинговых коммуникаций в Сети.
      p В рамках комплекса рекламной компании в Интернете мы предлагаем нашим клиентам:
      ul.list-marked
        li
          strong Поисковая оптимизация
          |  (Search Engine Optimization, SEO) - представляет собой комплекс мероприятий, направленный улучшение позиций сайта в результатах выдачи поисковых систем и увеличение его посещаемости целевой аудиторией.
        li
          strong Контекстная реклама
          | : Яндекс Директ, Google AdWords. Данный вид рекламы предполагает показ текстовых объявлений посетителю, когда он заинтересован в соответствующих товарах или услугах, запрашивая информацию в поисковой системе Google, Яндекс, либо переходя на тематический сайт.
        li
          strong Управление репутацией
          | . Управление репутацией – это уникальный инструмент скрытого воздействия в простой и доступной форме, в результате которого происходит формирования мнения целевой аудитории.
        li
          strong Улучшение продающих свойств сайта
          | . Данная услуга заключается в анализе сайта и выработке рекомендаций, которые ведут к увеличению продаж при том же количестве посетителей без дополнительных расходов на рекламу.

      p Для вас мы подготовим индивидуальную стратегию продвижения бизнеса в Сети, предложив вашему вниманию комплекс эффективных инструментов.
