extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сайт медицинского косметологического центра "Мир красоты"'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/mkrasoty.jpg',
          title: 'Сайт медицинского косметологического центра "Мир красоты"',
          link: {
            text: 'http://mkrasoty.ru/',
            href: 'http://mkrasoty.ru/'
          },
          info: [
            {tag: 'p', content: 'Косметологический центр оказывает широкий спектр услуг. Дважды становился лауреатом городского ежегодного конкурса «Невский шарм».'}
          ]
        }
      +pageDevelopment(page)
