extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/portfolio/keysi-po-kontekstnoy-reklame-list
  .container
    .content.content--white
      h1 Кейсы по контекстной рекламе
      +worksList(portfolioKeysiPoKontekstnoyReklameList)
