.home-process
  ul.home-process__list
    li.home-process__item
      h3.home-process__title Анализируем всю воронку продаж клиники
      include list-analyze/list-analyze
    li.home-process__item
      h3.home-process__title Анализируем отчетность
      +grid({align:'center'})
        +grid__item({m:7,s:12,xs:12})
          h4.home-process__subtitle Оцениваем эффективность рекламы
          ul.list-marked.home-process__list-marked
            li Анализируем эффективность различных каналов интернет рекламы
            li Принимаем решение о перераспределении бюджетов в эффективные каналы
            li Оцениваем охват рекламы и рекламные бюджеты
            li Рассчитываем стоимость заявки (CPL), привлечения пациента (CPO), ДРР
        +grid__item({m:5,s:12,xs:12})
          img(src='/images/establish-accountability.jpg' alt='Налаживаем отчетность')
      .home-process__button
        a(href='http://www.medreclama.ru/form/25-zakazat-audit_popup?tmpl=component' rel='{handler:"iframe",size:{x:280,y:520}}').btn Заказать аудит
    li.home-process__item
      h3.home-process__title Анализируем продающие качества сайта
      h4.home-process__subtitle Проводим аудит сайтов клиник и даем консультации по проектированию
      .home-process__item-section
        +grid({align: 'center'})
          +grid__item({m:3,s:4,xs:12})
            img(src='/images/main-page-monitor.png' alt='Технологичные сайты' style='display: block; margin-bottom: 1.5rem; margin-left: auto; margin-right: auto;')
          +grid__item({m:9,s:8,xs:12})
            h5 Удобство сайта
            ul.list-marked.home-process__list-marked
              li Тестируем сайты на 
                strong адаптивность
                |  (удобно ли пациенту будет работать с любого устройства).
              li Тщательно проектируем интерфейс, учитывая психологию пациентов.
            h5 Поисковая оптимизация
            ul.list-marked.home-process__list-marked
              li Анализируем структуру сайта, оптимизацию страниц, технические настройки сайта.
      .home-process__item-section
        +grid({align: 'center'})
          +grid__item({m:9,s:8,xs:12})
            h4.home-process__subtitle Максимальная конверсия посетителей в пациенты
            ul.list-marked.home-process__list-marked
              li Анализируем качество текстов медицинских услуг используя собственную методику написания 
                strong "продающих" текстов
                | .
              li Проверяем сайт на наличие необходимых материалов, увеличивающих 
                strong доверие и информированность
                | пациентов.
              li Рекомендуем сервисы 
                strong захвата пользователей
                | , увеличивающие количество обращений пациентов
              li 
                strong.home-process__superstrong 9
                  span %
                |  конверсия сайтов в звонки пациентов после внедрения аудита
          +grid__item({m:3,s:4,xs:12})
            img(src='/images/main-page-monitor.png' alt='Технологичные сайты' style='display: block; margin-bottom: 1.5rem; margin-left: auto; margin-right: auto;')
      .home-process__button
        a(href='http://www.medreclama.ru/form/25-zakazat-audit_popup?tmpl=component' rel='{handler:"iframe",size:{x:280,y:520}}').btn Заказать аудит
      include reasons/reasons
    li.home-process__item
      h3.home-process__title Задействуем эффективные методы рекламы
      .home-process__item-section
        h4.home-process__subtitle Приводим пациентов из поисковых систем
        +grid({align: 'center'})
          +grid__item({m:3,s:4,xs:12})
            img(src='/images/positions.png' alt='')
          +grid__item({m:9,s:8,xs:12})
            //- +grid()
            //-   +grid__item({m:6,s:6,xs:12})
            //-     h5 Поисковая оптимизация
            //-     ul.list-marked.home-process__list-marked
            //-       li Многократно увеличиваем посещаемость из поисковых систем
            //-       li Достигаем высокой эффективности за счет использования 
            //-         strong собственной базы
            //-         |  проверенных ключевых слов
            //-   +grid__item({m:6,s:6,xs:12})
            //-     h5 Поисковая оптимизация
            //-     ul.list-marked.home-process__list-marked
            //-       li Успешно используем 
            //-         a(href='/portfolio/keysi-po-kontekstnoy-reklame/') низкобюджетные стратегии
            //-         |  для клиник
            //-       li Снижаем стоимость клика в 
            //-         strong 3-5 раз
            //-       li Максимизируем эффективность кампаний с помощью сервиса управления ставками 
            //-         strong Garpun
            h5 Поисковая оптимизация
            ul.list-marked.home-process__list-marked
              li Многократно увеличиваем посещаемость из поисковых систем
              li Достигаем высокой эффективности за счет использования 
                strong собственной базы
                |  проверенных ключевых слов
            h5 Поисковая оптимизация
            ul.list-marked.home-process__list-marked
              li Успешно используем 
                a(href='/portfolio/keysi-po-kontekstnoy-reklame/') низкобюджетные стратегии
                |  для клиник
              li Снижаем стоимость клика в 
                strong 3-5 раз
              li Максимизируем эффективность кампаний с помощью сервиса управления ставками 
                strong Garpun
      .home-process__item-section
        h4.home-process__subtitle Доносим положительный имидж клиники до пациентов
        +grid({align: 'center'})
          +grid__item({m:3,s:4,xs:12})
            img(src='/images/home-review.png' alt='')
          +grid__item({m:6,s:4,xs:12})
            ul.list-marked.home-process__list-marked
              li В ходе аудита выявляем сайты, которые могут стать 
                strong причиной оттока пациентов
              li
                strong Увеличиваем доверие
                |  к компании за счет положительного имиджа
              li
                strong Вытесняем
                |  сайты с негативными отзывами из результатов поиска
