.home-process
  padding-top (basePadding*2)
  &__list
    counter-reset item
  &__item
    counter-increment item
    padding-y (basePadding*3)
    border-top 1px dotted #734d76
    &:last-child
      padding-bottom 0
    // .list-marked
    //   li
    //     margin-bottom font-s
    h5
      &:first-child
        margin-top 1.25rem
  &__title
    
    margin-bottom (basePadding/3*5)
    &::before
      content '0'counter(item)
      color #02798d
      margin-right basePadding
  &__subtitle
    color #712880
    ^[-1]__title + &
      margin-top 1.375rem
  &__button
    display flex
    justify-content center
    padding-top (basePadding*2)
  &__list-marked
    color #3d1463
    margin-top (font-m/2)
    li
      margin-bottom (font-m/2)
      &:last-child
        margin-bottom 0
  &__superstrong
    font-size (font-m)*2
    color #8c3052
    span
      font-size font-xl
  &__item-section
    padding-bottom (basePadding*3/2)
    & + &
      padding-top (basePadding*3/2)
      padding-bottom 0
      border-top 1px dotted #ced2d5
