extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Салон красоты «Центр Дизайна Волос»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/hairdesign.png',
          title: 'Салон красоты «Центр Дизайна Волос»',
          link: {
            text: 'http://www.hairdesign.ru/',
            href: 'http://www.hairdesign.ru/'
          }
        }
      +pageAdvertisment(page)
        p Центр Дизайна Волос – это салон, осуществляющий деятельность в нескольких направлениях.
        ul.list-marked
          li Замещение утраченных волос;
          li Парикмахерские услуги;
          li Продажа изделий из волос и косметики для волос.
        p
          strong Задача:
          |  привлечение клиентов, увеличение продаж магазина.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Регулярно ведутся работы по добавлению тематического контента;
          li На постоянной основе обновляются группы в социальных сетях;
          li Проводятся мероприятия по управлению репутацией в социальных медиа;
          li Ежемесячно проводится тестирование гипотез по увеличению конверсии сайта.

        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 18,5 раз
            |  с 998 до 18434 посетителей в месяц.
          li Увеличение прибыли интернет-магазина в 
            strong 2 раза
            | .
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google

        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['залысины',{content:'1',type:'marked'}],
            ['парики из натуральных волос',{content:'1',type:'marked'}],
            ['парики купить',{content:'1',type:'marked'}],
            ['лечебная косметика для волос',{content:'1',type:'marked'}],
            ['накладки для волос',{content:'1',type:'marked'}],
            ['стоимость наращивания волос',{content:'1',type:'marked'}],
          ]
        +resultsTable(table1)
