.result-slider-item
  &__header
    padding (basePadding*2)
    display flex
    justify-content center
    align-items center
    background-color #e6e9ee
    &::before
      content ''
      margin-right (basePadding*2)
      background-repeat no-repeat
    h3
      text-align center
      // max-width 30rem
  &--whitedent
    & ^[-1]__header
      &::before
        background-image url('../images/result-slider/whitedent.png')
        width 84px
        height 35px
  &--medcenter
    & ^[-1]__header
      &::before
        background-image url('../images/result-slider/medcenter.png')
        width 84px
        height 60px
  &--shankara
    & ^[-1]__header
      &::before
        background-image url('../images/result-slider/shankara.png')
        width 82px
        height 70px
  &--stomadeus
    & ^[-1]__header
      &::before
        background-image url('../images/result-slider/stomadeus.png')
        width 62px
        height 63px
  &--stomcenter
    & ^[-1]__header
      &::before
        background-image url('../images/result-slider/stomcenter.png')
        width 54px
        height 71px
  &__body
    padding (basePadding*2)
  &__feedback
    background-color  #f0f0f0
    border-radius (basePadding*4) 0 (basePadding*4) 0
    .feedback-item
      padding-x (basePadding*2)
