mixin worksListItem(item,settings={})
  -
    let imageSize = 4
    let captionSize = 8
    let itemClassList = ''
  if settings.size = 'small'
    -
      imageSize = 12
      captionSize = 12
      itemClassList += ' works-list-item--small'
  +grid({tag:'figure', justify:center,paddingy: true, align: 'center'}).works-list-item(class= itemClassList)
    +grid__item({xs:imageSize})
      a(href= item.link).works-list-item__image
       img(src= item.image alt= item.title title= item.title)
    +grid__item({xs:captionSize, tag:'figcaption'}).works-list-item__caption
      a(href= item.link).works-list-item__title !{item.title}
      if item.desc
        .works-list-item__description !{item.desc}
      if item.result
        .works-list-item__result !{item.result}
