.case-results-list
  display flex
  margin -(basePadding)
  margin-bottom 0
  flex-wrap wrap
  justify-content center
  padding-y (basePadding*2)
  &__item
    padding basePadding (basePadding*2)
    display flex
    flex-direction column
    align-items center
  &__item-title
    font-size 2rem
    margin-bottom 0.25rem
    color #8c3052
    font-weight bold
  &__item-description
    font-size font-s
    line-height line-s
