mixin caseResultsList(list)
  .case-results-list
    each item in list
      .case-results-list__item
        .case-results-list__item-title !{item.title}
        .case-results-list__item-description !{item.desc}
