extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Клиника эстетической стоматологии «ВайтДент»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/whitedent.png',
          title: 'Клиника эстетической стоматологии «ВайтДент»',
          link: {
            text: 'http://whitedent.spb.ru',
            href: 'http://whitedent.spb.ru'
          }
        }
      +pageAdvertisment(page)
        p Стоматологическая клиника «ВайтДент» является перспективным лечебным учреждением, которое занимает достойное место среди ведущих клиник данного направления в Санкт-Петербурге.
        p
          strong Задача:
          |  привлечение клиентов, увеличение прибыли клиники.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Проведены мероприятия по управлению репутацией;
          li Проводятся эффективные рекламные кампании в системах Яндекс.Директ, Google.Adwords;
          li На постоянной основе обновляются группы в социальных сетях.
        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 4 раза
            |  с 300 до 1400 посетителей в месяц.
          li Увеличение количества звонков клиентов из интернета в 
           strong 1,5 раза
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google
        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['вставить импланты',{content:'1',type:'marked'}],
            ['установка имплантов',{content:'2',type:'marked'}],
            ['3d снимок зубов',{content:'2',type:'marked'}],
            ['томография зубов',{content:'4',type:'marked'}],
          ]
        +resultsTable(table1)
