-
  let portfolioProdvizhenieSaytovList1 = [
    {
      link: '/prodvizhenie-saytov/mnogoprofilnaya-klinika-meditsinskiy-tsentr-goroda',
      image: '/images/portfolio/prodvizhenie-saytov/meditcinskii-centr-goroda.png',
      title: 'Medall',
      desc: 'Клиника эстетической медицины',
      result: 'Увеличение посещаемости сайта в&nbsp;6 раз',
    },
    {
      link: '/prodvizhenie-saytov/set-stomatologicheskich-klinik-stomatologicheskiy-tsentr-goroda',
      image: '/images/portfolio/prodvizhenie-saytov/stomatologicheskii-centr-goroda.png',
      title: 'Стоматологический центр города',
      desc: 'Сеть стоматологических клиник',
      result: 'Увеличение посещаемости сайта в 6 раз',
    },
    {
      link: '/prodvizhenie-saytov/klinika-po-peresadke-volos',
      image: '/images/portfolio/prodvizhenie-saytov/clinika-peresadki-volos.png',
      title: 'Клиника пересадки волос',
      desc: 'Клиника пересадки волос',
      result: 'Увеличение посещаемости сайта в 4,5 раза',
    },
    {
      link: '/prodvizhenie-saytov/set-stomatologicheskiy-klinik-stomadeus',
      image: '/images/portfolio/prodvizhenie-saytov/stomadeus.png',
      title: 'Стомадеус',
      desc: 'Сеть стоматологических клиник',
      result: 'Увеличение посещаемости сайта в 3 раза',
    },
    {
      link: '/prodvizhenie-saytov/klinika-esteticheskoy-stomatologii-vaytdent',
      image: '/images/portfolio/prodvizhenie-saytov/white-dent.png',
      title: 'Вайтдент',
      desc: 'Стоматологическая клиника',
      result: 'Увеличение посещаемости сайта в 4 раза',
    },
    {
      link: '/prodvizhenie-saytov/stomatologicheskaya-klinika-doktor-dent',
      image: '/images/portfolio/prodvizhenie-saytov/doctor-dent.png',
      title: 'Доктордент',
      desc: 'Стоматологическая клиника',
      result: 'Увеличение посещаемости сайта в 2 раза',
    },
  ]
  let portfolioProdvizhenieSaytovList2 = [
    {
      link: '/prodvizhenie-saytov/salon-krasoti-tsentr-dizayna-volos',
      image: '/images/portfolio/prodvizhenie-saytov/centr-dizaina-volos.png',
      title: 'Салон красоты «Центр Дизайна Волос»'
    },
    {
      link: '/prodvizhenie-saytov/internet-magazin-volos-dlya-naraschivaniya-volosi24',
      image: '/images/portfolio/prodvizhenie-saytov/volosy-24.png',
      title: 'Интернет-магазин волос для наращивания «Волосы24»'
    },
    
  ]
