-
  let portfolioRazrabotkaSaytovList1 = [
    {
      link: '/razrabotka-saytov/sayt-meditsinskogo-choldinga-praymed',
      image: '/images/portfolio/razrabotka-saytov/praimed.png',
      title: 'Сайт медицинского холдинга Праймед',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/aiurvedicheskiy-meditsinskiy-tsentr-shankara',
      image: '/images/portfolio/razrabotka-saytov/shankara.png',
      title: 'Аюрведический медицинский центр «Shankara»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/set-stomatologicheskich-klinik-stomatologicheskiy-tsentr-goroda',
      image: '/images/portfolio/razrabotka-saytov/stomcentr.png',
      title: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/white-dent',
      image: '/images/portfolio/razrabotka-saytov/whitedent.png',
      title: 'Стоматологическая клиника «Вайт-Дент»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/stomatologicheskaya-klinika-doktor-dent',
      image: '/images/portfolio/razrabotka-saytov/doktordent.png',
      title: 'Стоматологическая клиника «Доктор Дент»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/mnogoprofilnaya-klinika-meditsinskiy-tsentr-goroda',
      image: '/images/portfolio/razrabotka-saytov/medcentr.png',
      title: 'Многопрофильная клиника «Медицинский Центр Города»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/set-stomatologicheskich-klinik-stomadeus',
      image: '/images/portfolio/razrabotka-saytov/stomadeus.png',
      title: 'Сеть стоматологических клиник «Стомадеус»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/sayt-meditsinskogo-kosmetologicheskogo-tsentra-mir-krasoti',
      image: '/images/portfolio/razrabotka-saytov/mir-krasoty.png',
      title: 'Сайт медицинского косметологического центра «Мир красоты»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/sayt-stomatologicheskoy-kliniki-medall',
      image: '/images/portfolio/razrabotka-saytov/dentaldaily.png',
      title: 'Стоматологическая клиника «Medall»',
      size: 'small'
    },
  ]
  let portfolioRazrabotkaSaytovList2 = [
    {
      link: '/razrabotka-saytov/salon-krasoti-tsentr-dizayna-volos',
      image: '/images/portfolio/razrabotka-saytov/centr-dizaina-volos.png',
      title: 'Центр замещения волос',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/internet-magazin-volos-dlya-naraschivaniya-volosi24',
      image: '/images/portfolio/razrabotka-saytov/volosy-24.png',
      title: 'Интернет-магазин для наращивания «Волосы24»',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/portal-industrii-krasoti-hairlife-ru',
      image: '/images/portfolio/razrabotka-saytov/hairlife.png',
      title: 'Портал индустрии красоты',
      size: 'small'
    },
    {
      link: '/razrabotka-saytov/internet-magazin-lechebnoy-kosmetiki-dlya-volos-tricholog-org',
      image: '/images/portfolio/razrabotka-saytov/triholog.png',
      title: 'Интернет-магазин лечебной косметики для волос «Трихолог.орг»',
      size: 'small'
    },
    
  ]
