extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сеть стоматологический клиник «Стомадеус»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/stomadeus.png',
          title: 'Сеть стоматологический клиник «Стомадеус»',
          link: {
            text: 'http://www.stomadeus.ru/',
            href: 'http://www.stomadeus.ru/'
          }
        }
      +pageAdvertisment(page)
        p Стоматологические клиники «Стомадеус» оказывает спектр услуг по терапевтическому, хирургическому, ортодонтическому, пародонтологическому лечению, протезированию зубов и эстетической стоматологии.
        p
          strong Задача:
          |  привлечение клиентов, увеличение прибыли клиники.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Проведены мероприятия по управлению репутацией в социальных медиа.
        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 3 раза
            |  с 2400 до 7200 посетителей в месяц.
          li Увеличение количества звонков клиентов из интернета в 
            strong 2,5 раза
            | .
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['брекеты стоимость',{content:'7',type:'marked'}],
            ['профессиональная чистка зубов спб',{content:'10',type:'marked'}],
            ['общий наркоз стоматология',{content:'6',type:'marked'}],
            ['пульпит лечение',{content:'8',type:'marked'}],
            ['синус лифтинг',{content:'5',type:'marked'}],
	
	
	
	
	


          ]
        +resultsTable(table1)
