.home-form
  padding (basePadding*2) (basePadding*4)
  background-color #f4f4f4
  border-radius (basePadding)
  margin-top (basePadding*1.5)
  @media screen and (max-width 60rem)
    margin-x (-(basePadding))
    margin-bottom (-(basePadding*2))
    padding-bottom (basePadding*4)
  &__input
    margin-bottom basePadding
    &--radio
      display flex
      margin-bottom (basePadding/2)
      align-items baseline
      input
        margin-right (basePadding/2)
      & ^[-2]__label
        font-weight normal
        margin-bottom 0
  &__label
    margin-bottom (basePadding/2)
    display block
    font-weight bold
    font-size font-xs
  &__submit
    padding-top (basePadding)
    display flex
    justify-content center
    .btn
      font-size font-xl
      line-height line-xl
      padding-x (basePadding*4)
      width 100%
