.home-form
  +grid({justify:'center'})
    +grid__item({m:8,xs:12})
      form.home-form__form
        //- +grid__item({m:6,xs:12})
        .home-form__input
          label.home-form__label(for='home-form__site') Ваш сайт
          input.form-input#home-form__site
        //- +grid__item({m:6,xs:12})
        .home-form__input
          label.home-form__label(for='home-form__name') Ваши имя и фамилия
          input.form-input#home-form__name
        //- +grid__item({m:6,xs:12})
        .home-form__input
          label.home-form__label(for='home-form__tel') Контактный телефон или skype
          input.form-input#home-form__tel
        //- +grid__item({m:6,xs:12})
        .home-form__input
          label.home-form__label(for='home-form__email') Электронная почта
          input.form-input#home-form__email
        .home-form__input.home-form__input--radio
          input(type='radio' name='type')#home-form__service-1
          label(for='home-form__service-1').home-form__label Комплексный аудит интернет-маркетинга
        .home-form__input.home-form__input--radio
          input(type='radio' name='type')#home-form__service-2
          label(for='home-form__service-2').home-form__label Аудит продающих качеств сайта
        .home-form__input.home-form__input--radio
          input(type='radio' name='type')#home-form__service-3
          label(for='home-form__service-3').home-form__label Консультация
        .home-form__submit
          button(type='submit').btn.btn--primary Отправить заявку
