extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/whitedent.jpg',
          title: 'Стоматологическая клиника «Вайт-Дент»',
          link: {
            text: 'http://whitedent.spb.ru',
            href: 'http://whitedent.spb.ru'
          },
          info: [
            {tag: 'p', content: 'Стоматологическая клиника «Вайт-Дент» предоставляет широкий спектр стоматологических услуг.'}
          ]
        }
      +pageDevelopment(page)
