extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сайт стоматологической клиники «Medall»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/dentaldaily.jpg',
          title: 'Сайт стоматологической клиники «Medall»',
          link: {
            text: 'http://dentaldaily.ru',
            href: 'http://dentaldaily.ru'
          }
        }
      +pageDevelopment(page)
