.feedback-item
  padding (basePadding*2) basePadding
  color #797677
  margin-x 0
  &__photo
    img
      width 100%
  &__body
    margin-bottom (basePadding*4)
  &__author
    display flex
    flex-direction column
    font-size font-xs
    strong
      color #000000
      font-weight normal
    span
      font-style italic
