mixin feedbackItem(item)
  +grid.feedback-item
    +grid__item({m:2,s:2, xs:12}).feedback-item__photo.hidden-s.hidden-xs
      img(src='/images/feedback-'+item.photo+'.jpg' alt='')
    +grid__item({m:10,s:12,xs:12}).feedback-item__info
      .feedback-item__body !{item.text}
      .feedback-item__author
        strong !{item.organization}
        span !{item.name}
        span !{item.occupation}
