.list-features
  &__item
    @extends p
    padding-left (basePadding*5)
    margin-bottom (basePadding*2)
    position relative
    &::before
      content ''
      position absolute
      top 0
      left 0
      width (basePadding*4)
      height (basePadding*4)
      background-repeat no-repeat
      background-size contain
      background-position center
    &--shortest-time
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='crest' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'><defs><style>.cls-1{fill:%238f3254;}.cls-2{fill:%23712742;}.cls-3{fill:%23fff;}</style></defs><title>time</title><path class='cls-1' d='M48.07,63.84L29.87,92.7H-0.44A30,30,0,1,0,48.07,63.84Z' transform='translate(1 -57)'/><path class='cls-2' d='M48.07,63.84A30,30,0,0,0-.44,92.7H29.87Z' transform='translate(1 -57)'/><circle class='cls-3' cx='6' cy='31.5' r='3'/><circle class='cls-3' cx='9' cy='19.5' r='3'/><circle class='cls-3' cx='18' cy='10.5' r='3'/><circle class='cls-3' cx='30' cy='7.5' r='3'/><circle class='cls-3' cx='42' cy='10.5' r='3'/><circle id='Ellipse_2_copy_5' data-name='Ellipse 2 copy 5' class='cls-3' cx='51' cy='19.5' r='3'/><circle id='Ellipse_2_copy_6' data-name='Ellipse 2 copy 6' class='cls-3' cx='54' cy='31.5' r='3'/><path class='cls-3' d='M41.44,74l-14,7.21a6,6,0,1,0,7.49,6.68Z' transform='translate(1 -57)'/></svg>");
    &--smoothing-oscillations
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='chart' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'><defs><style>.cls-1{fill:%238f3254;}.cls-2{fill:%23712742;}.cls-3{fill-opacity:0.21;}.cls-4,.cls-5,.cls-6{fill:%23fff;}.cls-4{opacity:0.19;isolation:isolate;}.cls-5{fill-opacity:0.62;}</style></defs><title>chart</title><path class='cls-1' d='M20,34.62L36.15,18.47,50,26.53V4.62A4.62,4.62,0,0,0,45.38,0H-5.38A4.62,4.62,0,0,0-10,4.62V39.23L5,27.69Z' transform='translate(10)'/><path class='cls-1' d='M50,26.54h0V55.38A4.62,4.62,0,0,1,45.38,60H-5.38A4.62,4.62,0,0,1-10,55.38h0A4.62,4.62,0,0,0-5.38,60H45.38A4.62,4.62,0,0,0,50,55.38V26.53h0Z' transform='translate(10)'/><path class='cls-2' d='M-5.38,60H45.38A4.62,4.62,0,0,0,50,55.38V26.53L36.15,18.47,20,34.62,5,27.69-10,39.23V55.38A4.62,4.62,0,0,0-5.38,60Z' transform='translate(10)'/><path class='cls-3' d='M-10,4.62h0A4.62,4.62,0,0,1-5.38,0,4.62,4.62,0,0,0-10,4.62Z' transform='translate(10)'/><path class='cls-3' d='M45.38,0h0A4.62,4.62,0,0,1,50,4.62V26.53h0V4.62A4.62,4.62,0,0,0,45.38,0Z' transform='translate(10)'/><path id='Rectangle_1_copy_2' data-name='Rectangle 1 copy 2' class='cls-4' d='M18.85,0h2.31V60H18.85V0Z' transform='translate(10)'/><path class='cls-5' d='M50,28.78L36.48,20.44,20,37.2l-14.88-7L-10,42.09V39.2L5,27.69l15,7L36.15,18.47,50,26.33v2.45h0Z' transform='translate(10)'/><path class='cls-6' d='M20,31.16a4.61,4.61,0,1,1-4.62,4.61h0A4.62,4.62,0,0,1,20,31.16Z' transform='translate(10)'/></svg>")
    &--time-shares
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='tag' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'><defs><style>.cls-1{fill:%238f3254;}.cls-2{fill:%23353535;opacity:0.21;}.cls-3{fill:%23b6909e;}.cls-4{isolation:isolate;}.cls-5{fill:%23fff;}</style></defs><title>tag</title><path class='cls-1' d='M49,14.88c0-4.9.12-8.79-3-11.9h0C42.92-.12,39,0,34.12,0S22.45-.22,19.24,3l-29,29h0a4.21,4.21,0,0,0,0,6L0.64,48.36,11.06,58.77a4.22,4.22,0,0,0,6,0l29-29C49.22,26.55,49,19.89,49,14.88Zm-10.47.24a4.71,4.71,0,1,1,4.71-4.71A4.71,4.71,0,0,1,38.51,15.12Z' transform='translate(11 0)'/><rect class='cls-2' x='-0.94' y='17.38' width='38.86' height='26.25' transform='translate(-5.15 22.01) rotate(-44.99)'/><path class='cls-3' d='M23,8.2L40.81,26.05,14,52.82-3.82,35,23,8.2m0-1.41-0.71.71L-4.53,34.26-5.23,35l0.71,0.71L13.32,53.53,14,54.23l0.71-.71L41.51,26.76l0.71-.71-0.71-.71L23.66,7.49,23,6.78h0Z' transform='translate(11 0)'/><g class='cls-4'><path class='cls-5' d='M11.12,25.28a5.09,5.09,0,0,1,.84-3A2.78,2.78,0,0,1,14.4,21.1a3.11,3.11,0,0,1,2.43,1.09,4.72,4.72,0,0,1,1,3.21,4.68,4.68,0,0,1-1,3.18,3.07,3.07,0,0,1-2.4,1.11,3,3,0,0,1-2.36-1.1A5,5,0,0,1,11.12,25.28Zm3.33-2.81a1.43,1.43,0,0,0-1.19.64,4.21,4.21,0,0,0-.47,2.36,3.78,3.78,0,0,0,.48,2.2,1.43,1.43,0,0,0,2.38,0,4.19,4.19,0,0,0,.47-2.35,3.81,3.81,0,0,0-.48-2.21A1.44,1.44,0,0,0,14.46,22.48Zm0,15.77L23,21.1h1.56L16.05,38.24H14.47Zm6.76-4.42a5.09,5.09,0,0,1,.84-3,2.79,2.79,0,0,1,2.45-1.21,3.11,3.11,0,0,1,2.44,1.09,4.72,4.72,0,0,1,1,3.21,4.69,4.69,0,0,1-1,3.18,3.08,3.08,0,0,1-2.41,1.12,3,3,0,0,1-2.36-1.1A5,5,0,0,1,21.22,33.83ZM24.57,31a1.43,1.43,0,0,0-1.2.64A4.21,4.21,0,0,0,22.89,34a3.79,3.79,0,0,0,.48,2.2,1.43,1.43,0,0,0,2.39,0,4.18,4.18,0,0,0,.47-2.35,3.81,3.81,0,0,0-.48-2.21A1.44,1.44,0,0,0,24.57,31Z' transform='translate(11 0)'/></g></svg>");
    &--any-price
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 60'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}</style></defs><title>inexpensively</title><path class='cls-1' d='M41.77,38.37c0-3.25,0-3.84,0-7.94A125,125,0,0,1,14,32v7.94h0A125,125,0,0,0,41.77,38.37Z' transform='translate(0 -9)'/><path class='cls-1' d='M43.17,23.93c0-3.25,0-3.84,0-7.94A125.75,125.75,0,0,1,15.4,17.56V25.5h0A125.75,125.75,0,0,0,43.17,23.93Z' transform='translate(0 -9)'/><path class='cls-1' d='M8.4,24.73V16.79h0a58.12,58.12,0,0,1-7-1.53c0.09,5.29,0,3.62,0,7.94A58.09,58.09,0,0,0,8.4,24.73Z' transform='translate(0 -9)'/><path class='cls-1' d='M4.2,44.14c0.09,5.29,0,3.62,0,7.94a56.05,56.05,0,0,0,7,1.52V45.66a56.05,56.05,0,0,1-7-1.52h0Z' transform='translate(0 -9)'/><path class='cls-1' d='M41.76,59.31A125.76,125.76,0,0,1,14,60.87v7.94a125.75,125.75,0,0,0,27.77-1.56c0-3.25,0-3.84,0-7.94h0Z' transform='translate(0 -9)'/><path class='cls-1' d='M0,66.53A58.23,58.23,0,0,0,7,68V60.11a58.23,58.23,0,0,1-7-1.52C0.09,63.88,0,62.21,0,66.53Z' transform='translate(0 -9)'/><path class='cls-1' d='M46,44.87A125.75,125.75,0,0,1,18.2,46.44v7.94A125.75,125.75,0,0,0,46,52.81C46,49.56,46,49,46,44.87Z' transform='translate(0 -9)'/><path class='cls-1' d='M7,39.17V31.23a58.23,58.23,0,0,1-7-1.52C0.09,35,0,33.33,0,37.65A58.23,58.23,0,0,0,7,39.17Z' transform='translate(0 -9)'/><path class='cls-2' d='M1.4,13.1c8.9,2.59,22.05,3.51,38.84,1.15v-2.2h0c0-.34,0-0.75,0-1.19-11-2.68-36.08-2-38.15-.91l-0.41.14-0.28.12V13.1Z' transform='translate(0 -9)'/><path class='cls-2' d='M4.2,38.91V42c8.9,2.58,22.05,3.51,38.85,1.15h0v-2.2C26.25,43.2,13.1,41.5,4.2,38.91Z' transform='translate(0 -9)'/><path class='cls-2' d='M38.85,28.7V26.5h0c-16.79,2.26-29.94.55-38.84-2,0,1.24,0,2.29,0,3.07C8.9,30.12,22.05,31,38.85,28.7Z' transform='translate(0 -9)'/><path class='cls-2' d='M0,53.35c0,1.22,0,2.28,0,3.07C8.9,59,22.05,59.92,38.85,57.58V55.37h0C22.06,57.64,8.91,55.93,0,53.35Z' transform='translate(0 -9)'/></svg>")
    &--reports
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='Clipboard' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 60'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}.cls-3,.cls-4{fill:%23fff;}.cls-3{opacity:0.5;isolation:isolate;}</style></defs><title>Clipboard</title><path id='Прямоугольник_скругл._углы_10' data-name='Прямоугольник скругл. углы 10' class='cls-1' d='M0.2,10.29H39.8A2.23,2.23,0,0,1,42,12.55V57.74A2.23,2.23,0,0,1,39.8,60H0.2A2.23,2.23,0,0,1-2,57.74V12.55A2.23,2.23,0,0,1,.2,10.29Z' transform='translate(2 0)'/><path id='Layer' class='cls-2' d='M34.3,13.68H5.7c-1.06,0-1.81-1.45-1.81-2.53V6.56A1.81,1.81,0,0,1,5.59,4.64h10A4.41,4.41,0,0,1,19.76,0h0.1A4.64,4.64,0,0,1,24.4,4.64h9.9a1.6,1.6,0,0,1,1.55,1.65,1.66,1.66,0,0,1,0,.27v4.59C35.83,12.24,35.36,13.68,34.3,13.68ZM19.86,2.62a2,2,0,0,0-1.92,2,1.92,1.92,0,1,0,3.84,0h0a1.94,1.94,0,0,0-1.92-2h0Z' transform='translate(2 0)'/><path id='Layer_копия_2' data-name='Layer копия 2' class='cls-3' d='M14.5,29.5H34.3v2.26H14.5V29.5ZM5.7,28.37h4.4v4.52H5.7V28.37Zm8.8,9H34.3v2.26H14.5V37.41ZM5.7,36.28h4.4v4.52H5.7V36.28Zm8.8,9H34.3v2.26H14.5V45.31ZM5.7,44.18h4.4V48.7H5.7V44.18Z' transform='translate(2 0)'/><path id='Layer-2' class='cls-4' d='M14.5,21.59H34.3v2.26H14.5V21.59Zm-3.63-.45-0.45-.46a0.15,0.15,0,0,0-.22,0h0L7.82,23.1a0.15,0.15,0,0,1-.22,0h0L6.55,22a0.14,0.14,0,0,0-.2,0l0,0-0.46.42a0.19,0.19,0,0,0,0,.12v0h0v0.66h0a0.19,0.19,0,0,0,0,.08L6.9,24.46,7.13,24.7l0.45,0.46a0.15,0.15,0,0,0,.22,0h0L10.87,22a0.14,0.14,0,0,0,0-.09h0V21.28h0A0.18,0.18,0,0,0,10.87,21.14Z' transform='translate(2 0)'/></svg>")
    &--shortest-time-2
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='Rocket' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 103'><defs><style>.cls-1{fill:%23432c53;}.cls-2{fill:%23674380;}.cls-3{fill:%23fff;}.cls-4{fill-opacity:0.2;}</style></defs><title>Rocket</title><path class='cls-1' d='M11.31,54.15L13,42.66S-1.61,40.77-9,78h0.14S0.23,58.22,11.31,54.15Z' transform='translate(9 0)'/><path class='cls-2' d='M11.31,54.15C0.23,58.22-8.86,78-8.86,78h0L8.76,71.3Z' transform='translate(9 0)'/><path class='cls-1' d='M41.71,93.26c14.06-33.73,1.42-40.71,1.42-40.71L38.3,62.72C44.41,71.16,42.42,88.9,41.71,93.26Z' transform='translate(9 0)'/><path class='cls-1' d='M41.28,94.28h0Z' transform='translate(9 0)'/><path class='cls-2' d='M41.71,93.26a7.18,7.18,0,0,0-.43,1h0.28A3.63,3.63,0,0,0,41.71,93.26Z' transform='translate(9 0)'/><path class='cls-2' d='M38.3,62.72l-7.53,15.7,10.51,15.7h0.14a7.18,7.18,0,0,0,.43-1C42.42,88.9,44.41,71.16,38.3,62.72Z' transform='translate(9 0)'/><g id='Rocket-2'><path id='Under_base' data-name='Under base' class='cls-1' d='M23.67,85L21,84.24c-1.14-.44-2.41-0.87-3.69-1.31a38.5,38.5,0,0,0-3.84-1.16l-2.56-.87C7.19,72.76,7.76,56.76,13,39.75,20.12,16.92,32.9.64,41.85,3.55s10.23,23.7,3.27,46.67C39.72,67.09,31.2,80.46,23.67,85Z' transform='translate(9 0)'/><path id='Base_rocket' data-name='Base rocket' class='cls-2' d='M29.07,83.23a80.71,80.71,0,0,0-21.45-7c-1.42-9.45,0-22.68,4.26-36.79C19.41,14.74,33.19-2.71,42.7.35s11.08,25.45,3.41,50C41.85,64.61,35.46,76.25,29.07,83.23Z' transform='translate(9 0)'/><path id='Window_big' data-name='Window big' class='cls-3' d='M33.33,30.88a8.56,8.56,0,0,1,5.4,10.47A8.29,8.29,0,0,1,28.5,46.88a8.56,8.56,0,0,1-5.4-10.47h0A8.12,8.12,0,0,1,33.33,30.88Z' transform='translate(9 0)'/><path id='Window_small' data-name='Window small' class='cls-3' d='M27.08,50.95a3.39,3.39,0,0,1,2.13,4.22,3.28,3.28,0,0,1-4.12,2.18A3.39,3.39,0,0,1,23,53.13h0A3.34,3.34,0,0,1,27.08,50.95Z' transform='translate(9 0)'/><path id='Shadow-3' class='cls-4' d='M29.07,83.23c-0.57-.29-1.14-0.58-1.85-0.87a33.44,33.44,0,0,1-3.55,2.76L21,84.24c-1.14-.44-2.41-0.87-3.69-1.31a38.5,38.5,0,0,0-3.84-1.16l-0.57-.29c25.28-27.63,29.69-69.79,30.4-81,8.95,3.78,10.37,25.88,3,50C41.85,64.61,35.46,76.25,29.07,83.23Z' transform='translate(9 0)'/></g><path id='Drop' class='cls-2' d='M16.85,84.53a5.92,5.92,0,0,1,3.84,7.42h0C18.7,98.2,11.17,103,11.17,103S7.76,94.57,9.61,88.31A5.65,5.65,0,0,1,16.85,84.53Z' transform='translate(9 0)'/></svg>")
        height (basePadding*6) 
    &--technologies
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 69'><defs><style>.cls-1{fill:%234d3260;}.cls-2{fill:%23674380;}</style></defs><title>4d3260</title><path class='cls-1' d='M0.71,47.4A8.59,8.59,0,0,0,9.28,56h0v8.62a4.29,4.29,0,0,0,8.57,0V56H20V23.7H0.71V47.4Z' transform='translate(10)'/><path class='cls-1' d='M14.4,5.14L9.29,0H7.14l5.67,5.71a19.38,19.38,0,0,0-12,15.83H20V4.3A19.06,19.06,0,0,0,14.4,5.14ZM14,13.49H11v-3h3v3Z' transform='translate(10)'/><path class='cls-1' d='M-5.71,21.54A4.3,4.3,0,0,0-10,25.86v19.4a4.28,4.28,0,0,0,4.28,4.29,4.28,4.28,0,0,0,4.29-4.27V25.86A4.3,4.3,0,0,0-5.71,21.54Z' transform='translate(10)'/><path class='cls-2' d='M45.71,21.54a4.3,4.3,0,0,0-4.29,4.32v19.4a4.29,4.29,0,0,0,8.57,0V25.86A4.3,4.3,0,0,0,45.71,21.54Z' transform='translate(10)'/><path class='cls-2' d='M27.18,5.71L32.86,0H30.71L25.59,5.14A19.06,19.06,0,0,0,20,4.3V21.54H39.16A19.38,19.38,0,0,0,27.18,5.71ZM29,13.49H26v-3h3v3Z' transform='translate(10)'/><path class='cls-2' d='M20,56h2.14v8.62a4.29,4.29,0,0,0,8.57.16c0-.05,0-0.11,0-0.16V56a8.59,8.59,0,0,0,8.57-8.61h0V23.7H20V56Z' transform='translate(10)'/></svg>")
    &--guarantees
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='crest' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 60'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}</style></defs><title>guarantees</title><polygon class='cls-1' points='6.38 48.9 3.76 55.92 12.29 50.07 15.01 59.91 20.53 45.11 6.38 48.9'/><polygon class='cls-1' points='39.54 48.97 24.69 44.99 31.73 60 33.5 49.99 42.4 55.07 39.54 48.97'/><polygon class='cls-2' points='14.18 43.41 11.86 39.29 10.01 39.16 8.86 42.23 6.38 48.9 20.53 45.11 20.98 43.89 18.68 42.01 14.18 43.41'/><polygon class='cls-2' points='30.51 43.53 26.03 42.08 24.05 43.64 24.69 44.99 39.54 48.97 35.02 39.34 32.9 39.46 30.51 43.53'/><path class='cls-1' d='M42.5,24.6l-2.56-4,1.86-4.34L38,13.52,38.16,8.8,33.6,7.6,32.07,3.14l-4.68.54-3-3.61L20.18,2.26,16,0l-3.1,3.56L8.28,3,6.67,7.39,2.09,8.51l0.1,4.73-3.86,2.71,1.79,4.37L-2.5,24.23l3.25,3.43-1,4.61,4.26,2L4.66,39l2.85,0.2,1.85,0.13,2.33,4.11,4.5-1.4,2.3,1.88L19.83,45l1.72-1.36,2-1.56L28,43.53l2.39-4.07,2.12-.12,2.59-.14,0.77-4.66,4.29-1.95L39.2,28ZM16.72,31.88L13,28.13,7.35,22.51l3.75-3.76,5.61,5.61L28.95,12l3.64,3.65Z' transform='translate(2.5)'/></svg>")
    &--pay-for-result
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='Группа_3' data-name='Группа 3' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54.73 60'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}.cls-3{fill:none;stroke:%23674380;stroke-width:2px;}</style></defs><title>result</title><path class='cls-1' d='M-0.8,14V53.62H9.59V21.71l-10-8.41A0.94,0.94,0,0,0-.8,14Z' transform='translate(6)'/><polygon class='cls-1' points='2.6 12.77 0 12.77 0 60 51.97 60 51.97 57.45 2.6 57.45 2.6 12.77'/><path class='cls-1' d='M26,35.74a2.65,2.65,0,0,0-2.1,2.55V53.62L34,53.43V42.14l-7.64-6.4H26Z' transform='translate(6)'/><path class='cls-1' d='M38,47.53h0c-1.1,0-1.1,1.17-1.1,2.26v3.83L46,53.43V52.2L40.4,47.53H38Z' transform='translate(6)'/><path class='cls-1' d='M12.19,25.53V53.62h9.09V31.51l-8.56-7.17C12.29,24.46,12.19,24.78,12.19,25.53Z' transform='translate(6)'/><path class='cls-2' d='M44,47.53H40.4L46,52.2v-2.7A2,2,0,0,0,44,47.53Z' transform='translate(6)'/><path class='cls-2' d='M8.29,12.77H1.8a3.75,3.75,0,0,0-2.24.53l10,8.41V14C9.59,13,9.4,12.77,8.29,12.77Z' transform='translate(6)'/><path class='cls-2' d='M32,35.74H26.34L34,42.14V37.71A2,2,0,0,0,32,35.74Z' transform='translate(6)'/><path class='cls-2' d='M20,24.26h-6.5a2.81,2.81,0,0,0-.77.08l8.56,7.17v-6C21.28,24.45,21.09,24.26,20,24.26Z' transform='translate(6)'/><path id='Фигура_11' data-name='Фигура 11' class='cls-3' d='M9,2.1L48,44.23' transform='translate(6)'/><path id='Фигура_12' data-name='Фигура 12' class='cls-1' d='M18.69,2.55H9.59v8.94H7V0H18.69V2.55Z' transform='translate(6)'/></svg>")
    &--personal-manager
      &::before
        background-image url("data:image/svg+xml;utf8,<svg id='User' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'><defs><style>.cls-1{fill:%23674380;}.cls-2{fill:%23432c53;}.cls-3{fill:%23fff;}</style></defs><title>manager</title><path id='body' class='cls-1' d='M44,60H-4a6.63,6.63,0,0,1-6-6.3h0c0-20.81,13.64-26.38,30-26.38s30,5.56,30,26.38h0A6.63,6.63,0,0,1,44,60Z' transform='translate(10 0.01)'/><path class='cls-2' d='M7.27,29.2l13.64,5.66-5.46,8.47Z' transform='translate(10 0.01)'/><path id='Rectangle_6_copy' data-name='Rectangle 6 copy' class='cls-2' d='M33.64,29.2L20,34.86l5.46,8.47Z' transform='translate(10 0.01)'/><g id='head'><path class='cls-3' d='M20,35.44c-9,0-16.39-7.63-16.39-17S11,1.44,20,1.44s16.4,7.63,16.4,17S29,35.44,20,35.44Z' transform='translate(10 0.01)'/><path class='cls-1' d='M20,1.94c8.76,0,15.89,7.4,15.89,16.5S28.76,34.94,20,34.94,4.11,27.54,4.11,18.44,11.23,1.94,20,1.94h0m0-1h0c-9.32,0-16.88,7.84-16.88,17.5S10.67,35.94,20,35.94s16.89-7.83,16.89-17.5S29.33,0.94,20,.94h0Z' transform='translate(10 0.01)'/></g><path id='hairs' class='cls-1' d='M37.24,18.64a29.74,29.74,0,0,1-3.15.2c-8.9,0-16.46-4.34-19.28-10.37H14.24a17.44,17.44,0,0,1-6.36,6.3,18.84,18.84,0,0,1-5.11,2.14A17.81,17.81,0,0,1,14.5.94h0.09A16.27,16.27,0,0,1,17.17.25l0.17,0c0.37-.06.75-0.11,1.14-0.16S19.48,0,20,0A17.37,17.37,0,0,1,36.5,12.56c0.17,0.58.31,1.13,0.43,1.73a18.59,18.59,0,0,1,.35,3.61C37.27,18.15,37.25,18.39,37.24,18.64Z' transform='translate(10 0.01)'/></svg>")
  &__title
    font-weight bold
    
