mixin listFeatures(list)
  ul.list-features
    each item in list
      li.list-features__item(class='list-features__item--'+item.className)
        if item.title
          .list-features__title !{item.title}
        .list-features__text !{item.text}
