.header-mobile-logo
  width 100%
  a
    display block
    width 2.5rem
    height 2.5rem
    background-image url('../images/logo-mobile.svg')
    background-size 2.5rem
    background-repeat no-repeat
    
