extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Клиника по пересадке волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/netvolos.png',
          title: 'Клиника по пересадке волос',
          link: {
            text: 'http://www.netvolos.ru/',
            href: 'http://www.netvolos.ru/'
          }
        }
      +pageAdvertisment(page)
        p Отделение по пересадке волос, практикующее передовые методики в трансплантации волос входит в состав Медицинского Центра Города.
        p
          strong Задача:
          |  привлечение клиентов, увеличение прибыли клиники.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Регулярно ведутся работы по добавлению тематического контента;
          li Проводятся мероприятия по управлению репутацией в социальных медиа.
        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 4,5 раз
            |  с 729 до 3216 посетителей в месяц.
          li Увеличение количества клиентов из интернета в 
            strong 3 раза.
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['пересадка волос',{content:'1',type:'marked'}],
            ['трансплантация волос',{content:'1',type:'marked'}],
            ['лечение облысения',{content:'2',type:'marked'}],
            ['лечение выпадения волос',{content:'4',type:'marked'}],
            ['лечение алопеции',{content:'2',type:'marked'}],
          ]
        +resultsTable(table1)
