extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let header = {
          className: 'shankara',
          title: 'Кейс по контекстной рекламе аюрведического медицинского центра «Shankara»',
          desc: 'Центр аюрведической медицины, неврологии, йоги, массажа и остеопатии. Стоимость услуг – эконом.',
          price: '6285 руб.',
        }
      +caseHeader(header)
      +caseSection('Задача',{type:'task'})
        p Увеличение количества процедур аюрведического массажа.
          br
          | Стоимость привлечения клиента не больше 300 руб.
      +caseSection('Поиск решения',{type:'solutions'})
        p Для увеличения записей на массаж использовали контекстную рекламу Google Adwords. Ввиду ограниченного бюджета на привлечение клиента и высокой конкуренции в данной тематике уделили пристальное внимание настройкам рекламной кампании и разработке продающих текстов объявлений. Провели аналитическую работу по выбору наиболее конверсионных запросов с невысокой стоимостью. Для оценки результатов кампании использовалась система отслеживания входящих звонков.
      +caseSection('Тонкие настройки',{type:'settings'})
        h3 Продвигали по ключевым запросам:
        ul.list-marked
          li наиболее конверсионные запросы по направлению «массаж»;
          li низкочастотные запросы, включающие специфические термины, присущие тематике аюрведической медицины.
        h3 Рекламные объявления:
        p В целях экономии бюджета и отсекания не конверсионных кликов рекламные объявления составлены с учетом следующих критериев:
        ul.list-marked
          li включали в объявление стоимость услуги;
          li включали в объявление описание ключевых моментов процедуры, ее специфики;
          li включали в объявления продающие триггеры;
          li в объявлениях обыгрывали преимущества клиники и выгоды для пациента.
      +caseSection('Результаты')
        p В результате проведенной кампании контекстной рекламы за календарный месяц было совершено 298 переходов пользователей на сайт по средней цене клика 21,09 рубля. Было получено 
          strong 17 звонков и 6 заявок
          |  с сайта. Бюджет на кампанию составил 6285 руб.
        -
          let results = [
            {title: '298', desc: 'переходов'},
            {title: '21,09', desc: 'средняя цена клика'},
            {title: '23', desc: 'заявки'},
            {title: '7,72%', desc: 'конверсия кампании '},
            {title: '273 р.', desc: 'стоимость заявки'},
          ]
        +caseResultsList(results)
      +caseOffer
      +caseSection('Дополнительные бонусы')
        -
          let bonuses = [
            {
              text:'<strong>Большой опыт</strong> в ведении контекстной рекламы стоматологических клиник Санкт-Петербурга и Москвы. Мы хорошо понимаем, какие подходы работают для каждого вида стоматологий, и не тратим Ваш рекламный бюджет впустую',
              className: 'experience'
            },
            {
              text: '<strong>Большой объем накопленной статистики</strong>. Мы точно знаем, какие ключевые запросы сработают в Вашем случае и почему. Вы не тратите время и деньги на тестирование кампаний. Все усилия попадают точно в цель',
              className: 'volume'
            }
          ]
        +caseBonuses(bonuses)
