extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/portfolio/razrabotka-saytov-list
  .container
    .content.content--white
      h1 Разработка сайтов
      .page-section
        h2.page-section__title Медицина и здоровье
        +worksList(portfolioRazrabotkaSaytovList1,{size: 'small'})
      .page-section
        h2.page-section__title Индустрия красоты
        +worksList(portfolioRazrabotkaSaytovList2,{size: 'small'})
