extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/medcenter.jpg',
          title: 'Многопрофильная клиника «Медицинский Центр Города»',
          link: {
            text: 'http://www.medcentergoroda.ru/',
            href: 'http://www.medcentergoroda.ru/'
          },
          info: [
            {tag: 'p', content: 'Клиника Медицинский Центр Города - комплекс современных клиник, работающих в области эстетической косметологии и стоматологии.'}
          ]
        }
      +pageDevelopment(page)
