.about-me
  display flex
  justify-content center
  align-items center
  margin-x -(basePadding*2)
  background-color #fafafa
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
    flex-wrap wrap
  @media screen and (min-width point-m+1)
    margin-x (-(basePadding*2))
  @media screen and (min-width point-l)
    margin-x (-(basePadding*3))
  &__photo
    height 100%
    flex 1 2 22rem
      
    img
      display block
      max-height 100%
      margin 0 auto
      @media screen and (max-width point-m)
        max-width 24rem
  &__info
    width 100%
    flex 1 1 38rem
    padding (basePadding*2) (basePadding*4)
    @media screen and (max-width point-m)
      padding (basePadding*2) basePadding
    blockquote
      line-height line-l
      font-size font-l
      font-weight bold
