header.header-main
  .container.header-main__top.hidden-s.hidden-xs
    .content
      include header-contents/header-contents
  .container.header-main__bottom.hidden-s.hidden-xs
    .content
      include header-menu/header-menu
  .header-main__mobile.hidden-hd.hidden-xl.hidden-l.hidden-m
    include ../header-mobile/header-mobile
