.blog-author
  padding-x basePadding
  &__photo
    overflow hidden
    width 4rem
    height 4rem
    border-radius 50%
  &__name
    margin-top basePadding
    font-size font-xs
    strong
      font-size font-m
  @media screen and (max-width point-s)
    display flex
    &__photo
      margin-right (basePadding*2)
