.form
  padding (basePadding*2)
  background-color #f4f4f4
  border-radius (basePadding/3)
  &__header
    position relative
    margin-x -(basePadding*2)
    margin-top -(basePadding*2)
    margin-bottom (basePadding*2)
    padding (basePadding/2*3)
    font-weight bold
    text-align center
    color #ffffff
    background #8c3052
    border-radius (basePadding/3) (basePadding/3) 0 0
  &__row
    margin-bottom (basePadding*2)
  &__label
    display block
    margin-bottom (basePadding/2)
    font-size font-xs
    font-weight bold
    &--required
      &::after
        content ' *'
        color #8c3052
  &__submit
    display flex
    padding-top (basePadding)
    justify-content center
    .btn
      width 100%
      padding-x (basePadding*4)
  &__loading
    width 40px
    height 40px
    margin-x auto
    border 6px solid rgba(#ccc, .5)
    border-left 6px solid transparent
    border-radius 50%
    animation loading-rotate
    animation-duration .8s
    animation-timing-function linear
    animation-iteration-count infinite
    @keyframes loading-rotate
      to
        transform rotate(360deg)
  &__message
    @extend p
    font-weight bold
    text-align center
      
