extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let header = {
          className: 'stomadeus',
          title: 'Кейс по контекстной рекламе сети стоматологических клиник «Стомадеус»',
          desc: 'Сеть стоматологических клиник среднего класса. Стоимость услуг эконом и выше.',
          price: '24 536 руб.',
        }
      +caseHeader(header)
      +caseSection('Задача',{type:'task'})
        p Привлечение звонков и заявок людей по акциям. Стоимость звонка или заявки с акции «прием + ортоснимок» не более 200 руб., с акции «3-х этапная чистка» не более 400 руб.
      +caseSection('Поиск решения',{type:'solutions'})
        p Для продвижения текущих специальных предложений клиники использовали контекстную рекламу Яндекс.Директ. Для соблюдения условий, поставленных клиентом, использовали специальную автоматизированную систему для управления рекламной кампанией. Также, в целях повышения конверсии были разработаны посадочные страницы под акции. Для определения эффективности применялась система отслеживания звонков.
      +caseSection('Тонкие настройки',{type:'settings'})
        h3 Продвигали по ключевым запросам:
        ul.list-marked
          li подбор возможных целевых запросов;
          li анализ эффективности ключевых слов кампании через сервисы статистики Google Analytics и Яндекс.Метрика.
        h3 Рекламные объявления:
        p В целях экономии бюджета и отсекания не конверсионных кликов рекламные объявления составлены с учетом следующих критериев:
        ul.list-marked
          li в объявлениях описывалась суть проводимой акции и стоимость;
          li в объявлениях указывали срок окончания проводимой акции;
          li включали в объявления продающие триггеры;
          li в объявлениях обыгрывали преимущества клиники и выгоды для пациента.
      +caseSection('Результаты')
        h3 Реклама по акции «прием + ортоснимок за 500&nbsp;руб.»
        p В результате проведенной кампании контекстной рекламы по акции «прием + ортоснимок за 500&nbsp;руб.» было совершено 
          strong 149&nbsp;переходов
          |  на сайт и получено 
          strong 17&nbsp;заявок и&nbsp;звонков
          |  с сайта за календарный месяц. Бюджет на кампанию составил 2508&nbsp;руб.
        -
          let results1 = [
            {title: '149', desc: 'переходов'},
            {title: '17', desc: 'заявок'},
            {title: '11,4%', desc: 'конверсия кампании '},
            {title: '147 р.', desc: 'стоимость заявки'},
          ]
        +caseResultsList(results1)
        h3 Реклама по акции «3-х этапная чистка за 1500&nbsp;руб.»
        p По акции «3-х этапная чистка за 1500&nbsp;руб.» было совершено 
          strong 604&nbsp;перехода
          |  на сайт и получено 
          strong 74&nbsp;заявки и звонка
          |  с сайта за календарный месяц. Бюджет на кампанию составил 22028&nbsp;руб.
        -
          let results2 = [
            {title: '604', desc: 'переходов'},
            {title: '74', desc: 'заявок'},
            {title: '12,25%', desc: 'конверсия кампании '},
            {title: '297 р.', desc: 'стоимость заявки'},
          ]

        +caseResultsList(results2)
      +caseOffer
      +caseSection('Дополнительные бонусы')
        -
          let bonuses = [
            {
              text:'<strong>Большой опыт</strong> в ведении контекстной рекламы стоматологических клиник Санкт-Петербурга и Москвы. Мы хорошо понимаем, какие подходы работают для каждого вида стоматологий, и не тратим Ваш рекламный бюджет впустую',
              className: 'experience'
            },
            {
              text: '<strong>Большой объем накопленной статистики</strong>. Мы точно знаем, какие ключевые запросы сработают в Вашем случае и почему. Вы не тратите время и деньги на тестирование кампаний. Все усилия попадают точно в цель',
              className: 'volume'
            }
          ]
        +caseBonuses(bonuses)
