extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Интернет-магазин лечебной косметики для волос «Трихолог.орг»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/triholog.jpg',
          title: 'Интернет-магазин лечебной косметики для волос «Трихолог.орг»',
          link: {
            text: 'http://triholog.org/',
            href: 'http://triholog.org/'
          },
          info: [
            {tag: 'p', content: 'Интернет-магазин Трихолог.орг предлагает широкий ассортимент лечебной косметики для волос, а также средств для маскировки облысения.'}
          ]
        }
      +pageDevelopment(page)
