-
  let prices1 = {
    rows: [
      [
        {header: true, content:'Тариф'},
        {header: true, content:'«Запуск»',type:'basic'},
        {header: true, content:'«Стандарт»',type:'standard'},
        {header: true, content:'«VIP»',type:'top'},
      ],
      [
        '<strong>Текущее состояние результатов поиска</strong>',
        'Отзывы о компании отсутствуют или есть в минимальном количестве',
        'Присутствуют как положительные, так и негативные отзывы',
        'Количество негативных отзывов превышает количество положительных и/или постоянно появляется негатив'
      ],
      [
        '<strong>Основные цели</strong>',
        'Создание репутации компании в интернете с нуля',
        '<ul class="list-marked"><li>Борьба с негативными отзывов</li><li>Усиление положительного имиджа</li></ul>',
        '<ul class="list-marked"><li>Активная борьба с негативными отзывами</li><li>Усиление положительного имиджа</li></ul>'
      ]
    ],
    eqCols: true
  }
  let prices2 = {
    rows: [
      [
        {header: true, content:'Тариф'},
        {header: true, content:'«Запуск»',type:'basic'},
        {header: true, content:'«Стандарт»',type:'standard'},
        {header: true, content:'«VIP»',type:'top'},
      ],
      [
        'Предоставление ежемесячного отчета о выполненных работах',
        {center:true, big:true, content:'<strong>+</strong>'},
        {center:true, big:true, content:'<strong>+</strong>'},
        {center:true, big:true, content:'<strong>+</strong>'}
      ],
      [
        'Подготовка и предоставление отчета с оценкой состояния результатов поиска в «Яндекс» и «Google» по "репутационным" запросам',
        {center:true, big:true, content:'<strong>-</strong>'},
        {center:true, big:true, content:'<strong>-</strong>'},
        {center:true, big:true, content:'<strong>+</strong>'}
      ],
      [
        'Количество размещаемых в месяц отзывов',
        {center:true, content:'10'},
        {center:true, content:'20'},
        {center:true, content:'30'}
      ],
      [
        '',
        '',
        '',
        ''
      ],
      [
        'Стоимость в месяц',
        {center:true, content:'<strong>10&nbsp;900&nbsp;руб.</strong>'},
        {center:true, content:'<strong>15&nbsp;900&nbsp;руб.</strong>'},
        {center:true, content:'<strong>22&nbsp;900&nbsp;руб.</strong>'}
      ]
    ]
  }
